<ion-header  >
  <ion-grid style="background-color:{{backcolor1}}; color:{{textcolor}}; padding:5px; ">
   <ion-row  style="background-color:{{backcolor1}}; color:{{textcolor}}; margin-top:30px;">
	<ion-col size="1" style="padding:0px; font-size:20px;">
       <button style="padding-top:10px; background-color:{{backcolor1}};"  (click)="closemodal('0','0')">
            <ion-icon name="arrow-back" style="font-size:25px;color:{{textcolor}};"  showWhen="android,windows"></ion-icon>
        </button>
    </ion-col>
    <ion-col size="9" style="padding:10px; padding-left:0px;">
       <ion-title style="font-size:16px;margin-top:3px;">
		   {{param2}}
		</ion-title>
    </ion-col>
    <ion-col  size="1">
    </ion-col>
  </ion-row>
 </ion-grid>
</ion-header>

<ion-content [fullscreen]="true">
   <div *ngIf="!addForm">
  <ion-card style="padding:12px;">
	<div class="row" style="padding:7px;">
			<div class="col-md-1">
			   <ion-icon style="margin:12px; color:#707071; font-size:18px;" name="settings"></ion-icon>
			</div>
			<div class="col-md-7">
			   <div style="margin-top:10px; text-transform:upercase;">
				<form [formGroup]="pageForm"  *ngIf="pageForm">
					<input class=""   [(ngModel)]="word" formControlName="word"  (keyup)="applyFilter()" placeholder="Immatriculation" style="padding:5px; width:100%; border:1px solid #e6e8e8;"/>
			   </form>
			   </div>
			</div>
			<div class="col-md-4" >
				<div align="right">
			    <ion-button   fill="clear"   (click)="onChangemode('list')"> <ion-icon style="color:#707071;" name="list"></ion-icon> </ion-button>
				<ion-button   fill="clear" (click)="onChangemode('grid')"> <ion-icon style="color:#707071;" name="apps"></ion-icon> </ion-button>
				</div>
			</div>
	    </div>
</ion-card>
  
	<div  class="row" style="padding:20px;" *ngIf="listmode">
		<ion-card  style="padding:15px; ">
			<table style="width:100%;"  >
				<thead>
					<tr>
						<td>Id</td>
						<td>N° Plaque</td>
						<td>Marque</td>
						<td>Modèle</td>
						<td>Conducteur</td>
						<td>Propriétaire</td>
						<td>Date d'ajout</td>
						<td>Date service</td>
						<td>Etat</td>
						<td></td>
					</tr>
				</thead>
				<tbody>
					<tr  *ngFor="let result of results">
						<td>{{ result.id }}</td>
						<td>{{ result.immatriculation }}</td>
						<td>{{ result.marque }}</td>
						<td>{{ result.model }}</td>
						<td>{{ result.tenant }}</td>
						<td>{{ result.owner }}</td>
						<td>{{ result.datecirculation| date: 'dd/MM/yyyy'  }}</td>
						<td>{{ result.createdAt| date: 'dd/MM/yyyy' }}</td>
						<td>{{ result.status }}</td>
						<td>
							<ion-button fill="clear" slot="end"  style="display:none1;text-transform: capitalize;"> Sélectionner </ion-button>
						</td>
					</tr>
				</tbody>
			</table>  
			</ion-card>  
			
	</div>
	<div  class="row" style="padding:0px;  margin-left:12px; margin-right:12px;" *ngIf="gridmode">
		<div class="col-md-6" style="padding:0px;" *ngFor="let result of results; let i = index">	
			<ion-card  style="margin:0px;  margin-left:12px; margin-bottom:12px; border:1px solid #c0c0c0;padding:15px; ">
			<div >
			<p style="margin:0px; font-size:14px; color:#f78812; margin-bottom:5px;">
			<span><strong>N° PLAQUE: {{ result.immatriculation }}</strong></span>
			</p>
			<p style="margin:0px; font-size:14px; margin-bottom:5px;"><span>Marque: {{ result.marque }} </span></p>
			<p style="margin:0px; font-size:14px; margin-bottom:5px;"><span>Modèle: {{ result.model }}</span></p>
			<p style="margin:0px; font-size:14px; margin-bottom:5px;"><span>Conducteur 1: {{ result.tenant }}</span></p>
			<p style="margin:0px; font-size:14px; margin-bottom:5px;"><span>Conducteur 2: {{ result.tenant2 }}</span></p>
			<p style="margin:0px; font-size:14px; margin-bottom:5px;"><span>Propriétaire: {{ result.owner }}</span></p>
			<p style="margin:0px; font-size:14px; margin-bottom:5px;"><span>Date service: {{ result.datecirculation| date: 'dd/MM/yyyy' }}</span></p>
			<p style="margin:0px; font-size:14px; margin-bottom:5px;"><span>Date ajout: {{ result.createdAt| date: 'dd/MM/yyyy' }}</span></p>
			</div>
			<p style="margin:0px;">
			<ion-button fill="clear" slot="end"  (click)="onSelect(result.id, result.immatriculation)" style="display:none1;text-transform: capitalize;"> Sélectionner </ion-button>
		  </p>
		    </ion-card>
	  
		</div>
	</div>
    
   
	</div>
</ion-content>
