<ion-header  >
  <ion-grid style="background-color:{{backcolor1}}; color:{{textcolor}}; padding:5px; ">
   <ion-row  style="background-color:{{backcolor1}}; color:{{textcolor}}; margin-top:30px;">
	<ion-col size="1" style="padding:0px; font-size:20px;">
       <ion-back-button ></ion-back-button>
    </ion-col>
    <ion-col size="9" style="padding:10px; padding-left:0px;">
       <ion-title style="font-size:16px;margin-top:3px;">
		   {{param3}}
		</ion-title>
    </ion-col>
    <ion-col  size="1">
      
    </ion-col>
  </ion-row>
 </ion-grid>
</ion-header>

<ion-content [fullscreen]="true">
 
<form [formGroup]="pageForm" >

<ion-card style="padding:15px;">
<ion-row>
	<ion-col  size="4">
       <ion-input labelPlacement="floating" value="" type="date"   [(ngModel)]="date" formControlName="date"  (ionChange)="onRefresh()"  style="border-bottom:1px solid #c0c0c0;">
			<div slot="label">Date</div>
		</ion-input>
	</ion-col>
  </ion-row>
<table class="styled-table">
    <thead>
        <tr>
             <th>Horaire</th>
            <th *ngIf="day1">Lundi</th>
            <th *ngIf="day2">Mardi</th>
            <th *ngIf="day3">Mercredi</th>
            <th *ngIf="day4">Jeudi</th>
            <th *ngIf="day5">Vendredi</th>
            <th *ngIf="day6">Samedi</th>
            <th *ngIf="day0">Dimanche</th>
        </tr>
    </thead>
    <tbody>
        <tr  *ngFor="let result of horaires; let i = index">
            <td>{{ result.horaire }}</td>
            <td *ngIf="day1">
				<p  *ngIf="result.col1!=null " style="font-size:11px; margin-bottom:0px;">{{result.col1}}</p>
				<p  *ngIf="result.col1!=null " style="font-size:11px; margin-bottom:0px;">{{result.colval1}} </p>
			</td>	
			<td *ngIf="day1">	
				<span  *ngIf="result.col1!=null" >
					<ion-button routerLink="/saisieabsenceseleves/{{result.idhoraire}}/{{result.horaire}}/{{result.colval1}}/{{result.colid1}}/{{result.col1}}/{{result.classcode}}/{{param3}}/{{date}}/{{result.colid1}}"  fill="clear" slot="end" >    <ion-icon name="add-circle-outline"></ion-icon></ion-button>
				</span>       
			</td>
            <td *ngIf="day2">
				<p  *ngIf="result.col2!=null " style="font-size:11px; margin-bottom:0px;">{{result.col2}}</p>
				<p  *ngIf="result.col2!=null " style="font-size:11px; margin-bottom:0px;">{{result.colval2}}</p>
			</td>	
			<td *ngIf="day2">	
				<span  *ngIf="result.col2!=null" >
					<ion-button routerLink="/saisieabsenceseleves/{{result.idhoraire}}/{{result.horaire}}/{{result.colval2}}/{{result.colid2}}/{{result.col2}}/{{result.classcode}}/{{param3}}/{{date}}/{{result.colid2}}"  fill="clear" slot="end" >    <ion-icon name="add-circle-outline"></ion-icon></ion-button>
				</span>       
			</td>
            <td *ngIf="day3">
				<p  *ngIf="result.col3!=null " style="font-size:11px; margin-bottom:0px;">{{result.col3}}</p>
				<p  *ngIf="result.col3!=null " style="font-size:11px; margin-bottom:0px;">{{result.colval3}}</p>
			</td>	
			<td *ngIf="day3">	
				<span  *ngIf="result.col3!=null" >
					<ion-button routerLink="/saisieabsenceseleves/{{result.idhoraire}}/{{result.horaire}}/{{result.colval3}}/{{result.colid3}}/{{result.col3}}/{{result.classcode}}/{{param3}}/{{date}}/{{result.colid3}}"  fill="clear" slot="end" >    <ion-icon name="add-circle-outline"></ion-icon></ion-button>
				</span>       
			</td>
            <td *ngIf="day4">
				<p  *ngIf="result.col4!=null " style="font-size:11px; margin-bottom:0px;">{{result.col4}}</p>
				<p  *ngIf="result.col4!=null " style="font-size:11px; margin-bottom:0px;">{{result.colval4}}</p>
			</td>	
			<td *ngIf="day4">	
				<span  *ngIf="result.col4!=null" >
					<ion-button routerLink="/saisieabsenceseleves/{{result.idhoraire}}/{{result.horaire}}/{{result.colval4}}/{{result.colid4}}/{{result.col4}}/{{result.classcode}}/{{param3}}/{{date}}/{{result.colid4}}"  fill="clear" slot="end" >    <ion-icon name="add-circle-outline"></ion-icon></ion-button>
				</span>       
			</td>
            <td *ngIf="day5">
				<p  *ngIf="result.col5!=null " style="font-size:11px; margin-bottom:0px;">{{result.col5}}</p>
				<p  *ngIf="result.col5!=null " style="font-size:11px; margin-bottom:0px;">{{result.colval5}}</p>
			</td>
			<td *ngIf="day5">	
				<span  *ngIf="result.col5!=null" >
					<ion-button routerLink="/saisieabsenceseleves/{{result.idhoraire}}/{{result.horaire}}/{{result.colval5}}/{{result.colid5}}/{{result.col5}}/{{result.classcode}}/{{param3}}/{{date}}/{{result.colid5}}"  fill="clear" slot="end" >    <ion-icon name="add-circle-outline"></ion-icon></ion-button>
				</span>       
			</td>
            <td *ngIf="day6">
				<p  *ngIf="result.col6!=null " style="font-size:11px; margin-bottom:0px;">{{result.col6}}</p>
				<p  *ngIf="result.col6!=null " style="font-size:11px; margin-bottom:0px;">{{result.colval6}}</p>
			</td>	
			<td *ngIf="day6">	
				<span  *ngIf="result.col6!=null" >
					<ion-button routerLink="/saisieabsenceseleves/{{result.idhoraire}}/{{result.horaire}}/{{result.colval6}}/{{result.colid6}}/{{result.col6}}/{{result.classcode}}/{{param3}}/{{date}}/{{result.colid6}}"  fill="clear" slot="end" >    <ion-icon name="add-circle-outline"></ion-icon></ion-button>
				</span>       
			</td>
            <td *ngIf="day0">
				<p *ngIf="result.col7!=null " style="font-size:11px; margin-bottom:0px;">{{result.col7}}</p>
				<p *ngIf="result.col7!=null " style="font-size:11px; margin-bottom:0px;">{{result.colval7}}</p>
			</td>
			<td *ngIf="day0">	
				<span  *ngIf="result.col7!=null" >
					<ion-button routerLink="/saisieabsenceseleves/{{result.idhoraire}}/{{result.horaire}}/{{result.colval7}}/{{result.colid7}}/{{result.col7}}/{{result.classcode}}/{{param3}}/{{date}}/{{result.colid7}}"  fill="clear" slot="end" >    <ion-icon name="add-circle-outline"></ion-icon></ion-button>
				</span>       
			</td>
        </tr>
    </tbody>
</table>
</ion-card>
</form>
</ion-content>

