<ion-header  >
 <ion-grid style="background-color:{{backcolor1}}; color:{{textcolor}}; padding:5px; ">
   <ion-row  style="background-color:{{backcolor1}}; color:{{textcolor}}; margin-top:30px;">
		<ion-col size="1" style="padding:0px; font-size:20px;">
			<button style="padding-top:10px; background-color:{{backcolor1}};"  (click)="closemodal('0','0')">
				<ion-icon name="arrow-back" style="font-size:25px;color:{{textcolor}};"  showWhen="android,windows"></ion-icon>
            </button>
		</ion-col>
    <ion-col size="9" style="padding:10px; padding-left:0px;">
       <ion-title style="font-size:16px;margin-top:3px;">
		   Sélection de lot/illot
		</ion-title>
    </ion-col>
  </ion-row>
 </ion-grid>
</ion-header>

<ion-content [fullscreen]="true">
  
  <div >
	  <form [formGroup]="pageForm">
      <ion-card  style="padding:20;">
		  <ion-row>	
			<ion-col  size="6">
				<ion-select labelPlacement="floating" (ionChange)="onSelectProgram()" id="" [(ngModel)]="program" formControlName="program"  interface="popover" >
					<ion-select-option  *ngFor="let line of programs; let i = index" value="{{line.id}}">{{line.name}}</ion-select-option>
					<div slot="label">Programme</div>
				</ion-select>
			</ion-col>
			<ion-col  size="6">
				<ion-input labelPlacement="floating" value=""  [(ngModel)]="word" formControlName="word" type="text">
					<div slot="label">N°</div>
				</ion-input>
			</ion-col>
		  </ion-row>
      </ion-card>
      </form>
	  
   	<ion-card style="padding:20px;"  *ngIf="!showlot">
		<div style="border-bottom:1px solid #c0c0c0; display:none1;">
					<ion-row>
						<ion-col size="6">
						   <div style="margin-left:10px; margin-top:7px; text-transform:upercase;">ILOTS</div>
						</ion-col>
						<ion-col size="3" >
							
						</ion-col>
						<ion-col size="3" align="right">
							
						</ion-col>
					</ion-row>
		</div>
		<div  class="row" style="padding:0px;" >
			<div class="col-md-12" *ngFor="let result of results; let i = index">	
				<ion-item    (click)="onListlots(result.id, result.reference)" >
					<ion-label style=" "> {{ result.reference }}</ion-label>
					 <ion-icon  slot="end" name="chevron-forward"></ion-icon> 
				</ion-item>
			</div>
		</div>
    </ion-card>
   	<ion-card style="padding:20px;" *ngIf="showlot">
		<div style="border-bottom:1px solid #c0c0c0; display:none1;">
					<ion-row>
						<ion-col size="6">
						   <div style="margin-left:10px; margin-top:7px; text-transform:upercase;">ILOT {{label}}</div>
						</ion-col>
						<ion-col size="3" >
							
						</ion-col>
						<ion-col size="3" align="right">
							<ion-button  fill="clear" (click)="onChange()"> <ion-icon name="arrow-back-outline"></ion-icon></ion-button>
							
						</ion-col>
					</ion-row>
		</div>
		<div  class="row" style="padding:0px;" >
			<div class="col-md-12" *ngFor="let result of results2; let i = index"  >	
				<ion-item  *ngIf="result.status == 'Libre'"   (click)="onselect(result.id, result.reference)" >
					<ion-label style=" ">{{ result.reference }}</ion-label>
					 <ion-icon  slot="end" name="chevron-forward"></ion-icon> 
				</ion-item>
			</div>
		</div>
    </ion-card>
    </div>
 
  
  <div style="margin-bottom:200px;"></div>
 
</ion-content>
