<ion-header  >
 <ion-grid style="background-color:{{backcolor1}}; color:{{textcolor}}; padding:5px; ">
   <ion-row  style="background-color:{{backcolor1}}; color:{{textcolor}}; margin-top:30px;">
		<ion-col size="1" style="padding:0px; font-size:20px;">
           <ion-back-button ></ion-back-button>
    </ion-col>
    <ion-col style="padding:10px; padding-left:0px;">
       <ion-title style="font-size:16px;margin-top:3px;">
		   {{param2}}
		</ion-title>
    </ion-col>
  </ion-row>
 </ion-grid>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-card style="padding:12px;">
    <form [formGroup]="pageForm"  *ngIf="pageForm">
	<div class="row" style="padding:7px;">
			<div class="col-md-1">
			   <ion-icon style="margin:12px; color:#707071; font-size:18px;" name="settings"></ion-icon>
			</div>
			<div class="col-md-5">
			   <div style="margin-top:10px; text-transform:upercase;">
					<input class=""   [(ngModel)]="word" formControlName="word"  (keyup)="applyFilter()" placeholder="RECHERCHE" style="padding:5px; width:100%; border:1px solid #e6e8e8;"/>
			   </div>
			</div>
			<div class="col-md-3">
			   <ion-select labelPlacement="floating" (ionChange)="onRefresh()" [(ngModel)]="statut" formControlName="statut"  interface="popover" >
					<ion-select-option value="0">Tout</ion-select-option>
					<ion-select-option value="1">Impayés</ion-select-option>
					<ion-select-option value="2">A jour</ion-select-option>
					<div slot="label">Statut</div>
				</ion-select>
			</div>
			<div class="col-md-3" >
				<div align="right">
				  <ion-button   fill="clear"   (click)="onChangemode('list')"> <ion-icon style="color:#707071;" name="list"></ion-icon> </ion-button>
				<ion-button   fill="clear" (click)="onChangemode('grid')"> <ion-icon style="color:#707071;" name="apps"></ion-icon> </ion-button>
				<ion-button   fill="clear" > <ion-icon style="color:#707071;" name="print"></ion-icon> </ion-button>
				</div>
			</div>
	</div>
	</form>	
	<div  class="row" style="padding:20px;" *ngIf="listmode">
		<table style="width:100%;"  >
			<thead>
				<tr>
					<td>Id</td>
					<td>N°</td>
					<td>Nom</td>
					<td>Prénom(s)</td>
					<td>Téléphone</td>
					<td>Email</td>
					<td>Adresse</td>
					<td>Entreprise</td>
					<td>Ville</td>
					<td></td>
					<td></td>
				</tr>
			</thead>
			<tbody  *ngIf="statut=='0'">
				<tr  *ngFor="let result of results">
					<td>{{ result.id }}</td>
					<td>{{ result.number }}</td>
					<td>{{ result.firstName }}</td>
					<td>{{ result.lastName }}</td>
					<td>{{ result.mobile }}</td>
					<td>{{ result.emailaddress }}</td>
					<td>{{ result.address }}</td>
					<td>{{ result.master }}</td>
					<td>{{ result.city }}</td>
					<td><ion-badge color="danger" slot="end">{{ result.accountAmount }}F</ion-badge></td>
					<td><ion-badge color="warning" slot="end">{{ result.motiva }} mois  impayé(s)</ion-badge></td>
				</tr>
			</tbody>
			<tbody  *ngIf="statut=='1'">
				<tr  *ngFor="let result of results">
					<td  *ngIf="result.motiva!='0'">{{ result.id }}</td>
					<td *ngIf="result.motiva!='0'">{{ result.number }}</td>
					<td *ngIf="result.motiva!='0'">{{ result.firstName }}</td>
					<td *ngIf="result.motiva!='0'">{{ result.lastName }}</td>
					<td *ngIf="result.motiva!='0'">{{ result.mobile }}</td>
					<td *ngIf="result.motiva!='0'">{{ result.emailaddress }}</td>
					<td *ngIf="result.motiva!='0'">{{ result.address }}</td>
					<td *ngIf="result.motiva!='0'">{{ result.master }}</td>
					<td *ngIf="result.motiva!='0'">{{ result.city }}</td>
					<td *ngIf="result.motiva!='0'"><ion-badge color="danger" slot="end">{{ result.accountAmount }}F</ion-badge></td>
					<td *ngIf="result.motiva!='0'"><ion-badge color="warning" slot="end">{{ result.motiva }} mois  impayé(s)</ion-badge></td>
				</tr>
			</tbody>
			<tbody  *ngIf="statut=='2'">
				<tr  *ngFor="let result of results">
					<td  *ngIf="result.motiva=='0'">{{ result.id }}</td>
					<td *ngIf="result.motiva=='0'">{{ result.number }}</td>
					<td *ngIf="result.motiva=='0'">{{ result.firstName }}</td>
					<td *ngIf="result.motiva=='0'">{{ result.lastName }}</td>
					<td *ngIf="result.motiva=='0'">{{ result.mobile }}</td>
					<td *ngIf="result.motiva=='0'">{{ result.emailaddress }}</td>
					<td *ngIf="result.motiva=='0'">{{ result.address }}</td>
					<td *ngIf="result.motiva=='0'">{{ result.master }}</td>
					<td *ngIf="result.motiva=='0'">{{ result.city }}</td>
					<td *ngIf="result.motiva=='0'"><ion-badge color="danger" slot="end">{{ result.accountAmount }}F</ion-badge></td>
					<td *ngIf="result.motiva=='0'"><ion-badge color="warning" slot="end">{{ result.motiva }} mois  impayé(s)</ion-badge></td>
				</tr>
			</tbody>
		</table>  
		
	</div>
	<div  class="row" style="padding:0px; " *ngIf="gridmode">
		
		<div class="col-md-12" style="padding:0px; margin-left:12px;" *ngFor="let result of results; let i = index">	
			<ion-card  style="margin:0px; border:1px solid #c0c0c0;padding:15px;"  *ngIf="statut=='0'">
			<div  class="row" >
			<div  class="col-md-5" >
				<p style="margin:0px; font-size:14px; color:#f78812; margin-bottom:5px;">
				<span><strong>{{ result.firstName }} {{ result.lastName }}</strong></span>
				</p>
				<p style="margin:0px; font-size:14px; margin-bottom:5px;">
				<ion-badge color="danger" slot="end">{{ result.accountAmount }} F</ion-badge>
				<ion-badge color="warning" slot="end" style="margin-left:10px;">{{ result.motiva }} mois impayé(s)</ion-badge>
				</p>
				
				<p style="margin:0px; font-size:14px; margin-bottom:5px;"><span>Téléphone: {{ result.mobile }} </span></p>
			</div>
			<div  class="col-md-5" >
				<p style="margin:0px; font-size:14px; margin-bottom:5px;"><span> Email: {{ result.emailaddress }}</span></p>
				<p style="margin:0px; font-size:14px; margin-bottom:5px;"><span>Entreprise: {{ result.master }} </span></p>
				<p style="margin:0px; font-size:14px; margin-bottom:5px;"><span>Ville: {{ result.city }} Adresse: {{ result.address }}</span></p>
			</div>
			
			<div  class="col-md-2" >
				 <ion-button fill="clear"  routerLink="/arriere/{{ result.id }}/{{ result.firstName }} {{ result.lastName }}" expand="block">Voir détail</ion-button>
			</div>
			</div>
		    </ion-card>
			<ion-card  style="margin:0px; border:1px solid #c0c0c0;padding:15px;"   *ngIf="statut=='1' && result.motiva!='0'">
			<div  class="row" >
			<div  class="col-md-5" >
				<p style="margin:0px; font-size:14px; color:#f78812; margin-bottom:5px;">
				<span><strong>{{ result.firstName }} {{ result.lastName }}</strong></span>
				</p>
				<p style="margin:0px; font-size:14px; margin-bottom:5px;">
				<ion-badge color="danger" slot="end">{{ result.accountAmount }} F</ion-badge>
				<ion-badge color="warning" slot="end" style="margin-left:10px;">{{ result.motiva }} mois impayé(s)</ion-badge>
				</p>
				
				<p style="margin:0px; font-size:14px; margin-bottom:5px;"><span>Téléphone: {{ result.mobile }} </span></p>
			</div>
			<div  class="col-md-5" >
				<p style="margin:0px; font-size:14px; margin-bottom:5px;"><span> Email: {{ result.emailaddress }}</span></p>
				<p style="margin:0px; font-size:14px; margin-bottom:5px;"><span>Entreprise: {{ result.master }} </span></p>
				<p style="margin:0px; font-size:14px; margin-bottom:5px;"><span>Ville: {{ result.city }} Adresse: {{ result.address }}</span></p>
			</div>
			
			<div  class="col-md-2" >
				 <ion-button fill="clear"  routerLink="/arriere/{{ result.id }}/{{ result.firstName }} {{ result.lastName }}" expand="block">Voir détail</ion-button>
			</div>
			</div>
		    </ion-card>
			<ion-card  style="margin:0px; border:1px solid #c0c0c0;padding:15px;"   *ngIf="statut=='2' && result.motiva=='0'">
			<div  class="row" >
			<div  class="col-md-4" >
				<p style="margin:0px; font-size:14px; color:#f78812; margin-bottom:5px;">
				<span><strong>{{ result.firstName }} {{ result.lastName }}</strong></span>
				</p>
				<p style="margin:0px; font-size:14px; margin-bottom:5px;">
				<ion-badge color="danger" slot="end">{{ result.accountAmount }} F</ion-badge>
				<ion-badge color="warning" slot="end" style="margin-left:10px;">{{ result.motiva }} mois impayé(s)</ion-badge>
				</p>
				
				<p style="margin:0px; font-size:14px; margin-bottom:5px;"><span>Téléphone: {{ result.mobile }} </span></p>
				
			</div>
			<div  class="col-md-5" >
				<p style="margin:0px; font-size:14px; margin-bottom:5px;"><span> Email: {{ result.emailaddress }}</span></p>
				<p style="margin:0px; font-size:14px; margin-bottom:5px;"><span>Entreprise: {{ result.master }} </span></p>
				<p style="margin:0px; font-size:14px; margin-bottom:5px;"><span>Ville: {{ result.city }} Adresse: {{ result.address }}</span></p>
			</div>
			<div  class="col-md-2" >
				 <ion-button fill="clear"  routerLink="/arriere/{{ result.id }}/{{ result.firstName }} {{ result.lastName }}" expand="block">Voir détail</ion-button>
			</div>
			</div>
		    </ion-card>
	  
		</div>
	</div>
  </ion-card>
   
<div style="margin-bottom:300px;">
</div> 
</ion-content>
