<ion-header  >
 <ion-grid style="background-color:{{backcolor1}}; color:{{textcolor}}; padding:5px; ">
   <ion-row  style="background-color:{{backcolor1}}; color:{{textcolor}}; margin-top:30px;">
		<ion-col size="1" style="padding:0px; font-size:20px;">
       <ion-back-button ></ion-back-button>
    </ion-col>
    <ion-col size="9" style="padding:10px; padding-left:0px;">
       <ion-title style="font-size:16px;margin-top:3px;">
		   Demandes
		</ion-title>
    </ion-col>
    <ion-col  size="1">
	
    </ion-col>
  </ion-row>
 </ion-grid>
</ion-header>

<ion-content [fullscreen]="true">
	<form [formGroup]="pageForm" >
	<div class="row">
		<div class="col-md-6">
		<ion-card style="padding:20px;" >
				 <div align="center"><ion-title>Bien immobilier</ion-title></div>
				 <ion-list>
					  <ion-item style="margin-bottom:20px;">
						<ion-select labelPlacement="floating"  [(ngModel)]="type" formControlName="type" interface="popover" >
							 <ion-select-option value="Louer">Louer</ion-select-option>
							 <ion-select-option value="Achéter">Achéter</ion-select-option>
							 <ion-select-option value="Vendre">Vendre</ion-select-option>
							 <ion-select-option value="Mettre en location">Mettre en location</ion-select-option>
							 <div slot="label"><strong>Que voulez-vous faire</strong></div>
						</ion-select>
					  </ion-item>
					  <ion-item style="margin-bottom:20px;">
						<ion-select labelPlacement="floating" (ionChange)="onTypeSelect()" [(ngModel)]="category" formControlName="category" interface="popover" >
							 <ion-select-option value="Terrain">Terrain</ion-select-option>
							 <ion-select-option value="Maison">Maison</ion-select-option>
							 <div slot="label"><strong>Type de bien récherché</strong></div>
						</ion-select>
					  </ion-item>
					  <ion-item style="margin-bottom:20px;"  *ngIf="!catterrain" >
						<ion-select labelPlacement="floating"  [(ngModel)]="option1" formControlName="option1" interface="popover" >
							 <ion-select-option value="Immeuble">Immeuble</ion-select-option>
							 <ion-select-option value="Appartement">Appartement</ion-select-option>
							 <ion-select-option value="Studio">Studio</ion-select-option>
							 <ion-select-option value="Bureau">Bureau</ion-select-option>
							 <ion-select-option value="Villa">Villa</ion-select-option>
							 <ion-select-option value="Magasin">Magasin</ion-select-option>
							 <ion-select-option value="Entrepot">Entrepot</ion-select-option>
							 <div slot="label"><strong>Type de maison</strong></div>
						</ion-select>
					  </ion-item>
					  <ion-item style="margin-bottom:20px;"  *ngIf="!catterrain">
						<ion-select labelPlacement="floating"  [(ngModel)]="option2" formControlName="option2" interface="popover" >
							 <ion-select-option value="1">1 Pièce</ion-select-option>
							 <ion-select-option value="2">2 Pièces</ion-select-option>
							 <ion-select-option value="3">3 Pièces</ion-select-option>
							 <ion-select-option value="4">4 Pièces</ion-select-option>
							 <ion-select-option value="5">5 Pièces</ion-select-option>
							 <ion-select-option value="6">6 Pièces</ion-select-option>
							 <ion-select-option value="7">7 Pièces</ion-select-option>
							 <ion-select-option value="8">8 Pièces</ion-select-option>
							 <ion-select-option value="9">9 Pièces</ion-select-option>
							 <ion-select-option value="10">10 Pièces et +</ion-select-option>
							 <div slot="label"><strong>Nombre de pièces</strong></div>
						</ion-select>
					  </ion-item>
					  
					  <ion-item style="margin-bottom:20px;" *ngIf="catterrain">
						<ion-input labelPlacement="floating" [(ngModel)]="option3" formControlName="option3" value="" type="number" >
						  <div slot="label"><strong>Superficie(m²)</strong></div>
						</ion-input>
					  </ion-item>
					  <ion-item style="margin-bottom:20px;"  *ngIf="!catterrain">
						<ion-select labelPlacement="floating"  [(ngModel)]="option4" formControlName="option4" interface="popover" >
							 <ion-select-option value="Commercial">Commercial</ion-select-option>
							 <ion-select-option value="Habitation">Habitation</ion-select-option>
							 <div slot="label"><strong>Usage</strong></div>
						</ion-select>
					  </ion-item>
					  <ion-item style="margin-bottom:20px;">
						<ion-input  id="open-modal" labelPlacement="floating" [(ngModel)]="commune" formControlName="commune" value="" type="text" >
						  <div slot="label"><strong>Commune</strong></div>
						</ion-input>
					  </ion-item>
					  
					   <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
					   
						<ng-template>
						   <ion-header>
						 <ion-toolbar>
						  <ion-buttons slot="start">
							
						  </ion-buttons>
						  <ion-item>
							  <ion-input
								label="Récherche ville"
								labelPlacement="stacked"
								type="text"
								placeholder="Nom de la ville"
								
							  ></ion-input>
							</ion-item>
						  <ion-buttons slot="end">
							<ion-button (click)="confirm()" [strong]="true">Fermer</ion-button>
						  </ion-buttons>
						 </ion-toolbar>
					    </ion-header>
						  <ion-content class="ion-padding">
							<ion-item  *ngFor="let result of results; let i = index" href="javascript:void(0)"  (click)="onselect(result.id, result.name)">
							  <ion-label><strong>{{result.name}}</strong></ion-label>
							</ion-item>
						  </ion-content>
						</ng-template>
					  </ion-modal>
					  <ion-item style="margin-bottom:20px;">
						<ion-input labelPlacement="floating" [(ngModel)]="quartier" formControlName="quartier" value="" type="text" >
						  <div slot="label"><strong>Quartier</strong></div>
						</ion-input>
					  </ion-item>
					  <ion-item style="margin-bottom:20px;">
						<ion-input labelPlacement="floating" [(ngModel)]="option5" formControlName="option5" value="" type="text" >
						  <div slot="label"><strong>Budget</strong></div>
						</ion-input>
					  </ion-item>
					  
				</ion-list>
			</ion-card>
			</div>
			<div class="col-md-6">
			<ion-card style="padding:20px;" >
				 <div align="center"><ion-title>Identité et contacts</ion-title></div>
				 <ion-list>
					  
					  <ion-item style="margin-bottom:20px;">
						<ion-select labelPlacement="floating"  (ionChange)="onTypePersonne()" [(ngModel)]="typeperson" formControlName="typeperson" interface="popover" >
							 <ion-select-option value="Personne physique">Personne physique</ion-select-option>
							 <ion-select-option value="Personne morale">Personne morale (Entreprise)</ion-select-option>
							 <div slot="label"><strong>Type de personne</strong></div>
						</ion-select>
					  </ion-item>
					  <ion-item style="margin-bottom:20px;">
						<ion-input labelPlacement="floating" [(ngModel)]="nom" formControlName="nom" value="" type="text" >
						  <div slot="label"><strong>Nom complet</strong></div>
						</ion-input>
					  </ion-item>
					  <ion-item style="margin-bottom:20px;">
						<ion-input labelPlacement="floating" [(ngModel)]="address" formControlName="address" value="" type="text" >
						  <div slot="label"><strong>Adresse</strong></div>
						</ion-input>
					  </ion-item>
					  <ion-item style="margin-bottom:20px;">
						<ion-input labelPlacement="floating" [(ngModel)]="email" formControlName="email" value="" type="text" >
						  <div slot="label"><strong>Email</strong></div>
						</ion-input>
					  </ion-item>
					  <ion-item style="margin-bottom:20px;">
						<ion-input labelPlacement="floating" [(ngModel)]="phone" formControlName="phone" value="" type="text" >
						  <div slot="label"><strong>Téléphone</strong></div>
						</ion-input>
					  </ion-item>
					  <ion-item style="margin-bottom:20px;">
						<ion-input labelPlacement="floating" [(ngModel)]="whatsapp" formControlName="whatsapp" value="" type="text" >
						  <div slot="label"><strong>Whatsapp</strong></div>
						</ion-input>
					  </ion-item>
					  
					  <ion-item style="margin-bottom:20px;">
						<ion-input labelPlacement="floating" [(ngModel)]="profession" formControlName="profession" value="" type="text" >
						  <div slot="label"><strong>Profession</strong></div>
						</ion-input>
					  </ion-item>
					 

				</ion-list>
			</ion-card>
			
			</div>
			
			<div class="col-md-12"  style=" display:none1;">
			     <ion-button  *ngIf="!isSend"  (click)="onAdd()"  type="button" expand="block">Enregistrer</ion-button>
				 <ion-button  *ngIf="isSend"  expand="block">Validation en cours ...</ion-button>
			</div>
			<div class="col-md-12" style=" display:none;">
				 <ion-item style="margin-bottom:20px;">
						<ion-input labelPlacement="floating" value="https://manager.iksox.com/online-v1.0.1/home/{{code}}" formControlName="profession" value="" type="text" >
						  <div slot="label">Url</div>
						</ion-input>
					  </ion-item>
			</div>
			<div class="col-md-6"  style=" display:none;">
			<ion-card style="padding:20px;" >
				 <div align="center"><ion-title>Montants loyer</ion-title></div>
				 <ion-list>
					  
					  <ion-item style="margin-bottom:20px;">
						<ion-input labelPlacement="floating" [(ngModel)]="caution" formControlName="caution" value="" type="text" >
						  <div slot="label">Caution</div>
						</ion-input>
					  </ion-item>
					  <ion-item style="margin-bottom:20px;">
						<ion-input labelPlacement="floating" [(ngModel)]="avance" formControlName="avance" value="" type="text" >
						  <div slot="label">Avance</div>
						</ion-input>
					  </ion-item>
					  <ion-item style="margin-bottom:20px;">
						<ion-input labelPlacement="floating" [(ngModel)]="agence" formControlName="agence" value="" type="text" >
						  <div slot="label">Agence</div>
						</ion-input>
					  </ion-item>
					  <ion-item style="margin-bottom:20px;">
						<ion-input labelPlacement="floating" [(ngModel)]="tva" formControlName="tva" value="" type="text" >
						  <div slot="label">TVA</div>
						</ion-input>
					  </ion-item>
					  <ion-item style="margin-bottom:20px;">
						<ion-input labelPlacement="floating" [(ngModel)]="dossier" formControlName="dossier" value="" type="text" >
						  <div slot="label">Frais de dossier</div>
						</ion-input>
					  </ion-item>
					  <ion-item style="margin-bottom:20px;">
						<ion-input labelPlacement="floating" [(ngModel)]="total1" formControlName="total1" value="" type="text" >
						  <div slot="label">Total</div>
						</ion-input>
					  </ion-item>
					  
				</ion-list>
			</ion-card>
		
			</div>
			<div class="col-md-6"  style=" display:none;">
			<ion-card style="padding:20px;" >
				 <div align="center"><ion-title>Installation</ion-title></div>
				 <ion-list>
					  
					  <ion-item style="margin-bottom:20px;">
						<ion-input labelPlacement="floating" [(ngModel)]="bail" formControlName="bail" value="" type="text" >
						  <div slot="label">Enregistrement du bail</div>
						</ion-input>
					  </ion-item>
					  <ion-item style="margin-bottom:20px;">
						<ion-input labelPlacement="floating" [(ngModel)]="cie" formControlName="cie" value="" type="text" >
						  <div slot="label">CIE</div>
						</ion-input>
					  </ion-item>
					  <ion-item style="margin-bottom:20px;">
						<ion-input labelPlacement="floating" [(ngModel)]="dijoncteur" formControlName="dijoncteur" value="" type="text" >
						  <div slot="label">Dijoncteur</div>
						</ion-input>
					  </ion-item>
					  <ion-item style="margin-bottom:20px;">
						<ion-input labelPlacement="floating" [(ngModel)]="sodeci" formControlName="sodeci" value="" type="text" >
						  <div slot="label">SODECI</div>
						</ion-input>
					  </ion-item>
					  <ion-item style="margin-bottom:20px;">
						<ion-input labelPlacement="floating" [(ngModel)]="total2" formControlName="total2" value="" type="text" >
						  <div slot="label">Total</div>
						</ion-input>
					  </ion-item>
					  
					  
				</ion-list>
			</ion-card>
		
			</div>
			<div class="col-md-12" style=" display:none;" >
			<ion-card style="padding:20px; display:none;" >
				 <div align="center"><ion-title>Fichiers</ion-title></div>
				 <ion-list>
					  
					  <ion-item style="margin-bottom:20px;">
						<ion-input labelPlacement="floating" value="0" (click)="onSelectImage('image1')"  [(ngModel)]="file1" formControlName="file1" readonly value="" type="text" >
						  <div slot="label">{{libfile1}}</div>
						</ion-input>
					  </ion-item>
					  <div>
						<ion-img class="map" src="{{imageurl1}}"  (click)="onSelectImage('image1')" style="width:100%;height:auto;"></ion-img>
					  </div>
					  
					  <ion-item style="margin-bottom:20px;">
						<ion-input labelPlacement="floating" (click)="onSelectImage('image2')"  [(ngModel)]="file2" formControlName="file2" readonly value="" type="text" >
						  <div slot="label">{{libfile2}}</div>
						</ion-input>
					  </ion-item>
					  <div>
						<ion-img class="map" src="{{imageurl2}}"  (click)="onSelectImage('image2')" style="width:100%;height:auto;"></ion-img>
					  </div>
					  
					  <ion-item style="margin-bottom:20px;">
						<ion-input labelPlacement="floating" (click)="onSelectImage('image3')"  [(ngModel)]="file3" formControlName="file3" readonly value="" type="text" >
						  <div slot="label">{{libfile3}}</div>
						</ion-input>
					  </ion-item>
					  <div>
						<ion-img class="map" src="{{imageurl3}}"  (click)="onSelectImage('image3')" style="width:100%;height:auto;"></ion-img>
					  </div>
					  
					  <ion-item style="margin-bottom:20px;">
						<ion-input labelPlacement="floating" (click)="onSelectImage('image4')"  [(ngModel)]="file4" formControlName="file4" readonly value="" type="text" >
						  <div slot="label">{{libfile4}}</div>
						</ion-input>
					  </ion-item>
					  <div>
						<ion-img class="map" src="{{imageurl4}}"  (click)="onSelectImage('image4')" style="width:100%;height:auto;"></ion-img>
					  </div>
					  
					  <ion-item style="margin-bottom:20px;">
						<ion-input labelPlacement="floating" (click)="onSelectImage('image5')"  [(ngModel)]="file5" formControlName="file5" readonly value="" type="text" >
						  <div slot="label">{{libfile5}}</div>
						</ion-input>
					  </ion-item>
					  <div>
						<ion-img class="map" src="{{imageurl5}}"  (click)="onSelectImage('image5')" style="width:100%;height:auto;"></ion-img>
					  </div>
					  
					  
					
				</ion-list>
			</ion-card>
			
			</div>
		</div>
	</form>
	
<div style="margin-bottom:300px;">
</div>		
</ion-content>
