<ion-header  >
  <ion-grid style="background-color:{{backcolor1}}; color:{{textcolor}}; padding:5px; ">
   <ion-row  style="background-color:{{backcolor1}}; color:{{textcolor}}; margin-top:30px;">
	<ion-col size="1" style="padding:0px; font-size:20px;">
       <ion-back-button ></ion-back-button>
    </ion-col>
    <ion-col size="9" style="padding:10px; padding-left:0px;">
       <ion-title style="font-size:16px;margin-top:3px;">
		   {{param3}}
		</ion-title>
    </ion-col>
  </ion-row>
 </ion-grid>
</ion-header>
<ion-content >

<ion-content [fullscreen]="true">

<form [formGroup]="pageForm" >
  <ion-card style="padding:20px;">
	<div class="row">
		<div class="col-md-4">
			<ion-item>
			<ion-select labelPlacement="floating" (ionChange)="onEditnote()"   [(ngModel)]="periode" formControlName="periode"  interface="popover" >
					 <ion-select-option  *ngFor="let result of periodes"  value="{{ result.id }}" >{{ result.label }}</ion-select-option>
				     <div slot="label">Période</div>
				</ion-select>
			</ion-item>	
		</div>
		<div class="col-md-4">
			<ion-item>
			<ion-select labelPlacement="floating" (ionChange)="onEditnote()"   [(ngModel)]="matiere" formControlName="matiere"  interface="popover" >
					 <ion-select-option  *ngFor="let result of matieres"  value="{{ result.id }}" >{{ result.label }}</ion-select-option>
				     <div slot="label">Matière</div>
				</ion-select>
			</ion-item>	
		</div>
		<div class="col-md-4">
			<div align="right">
				 <ion-button  fill="clear"  style="color:#707071;"><ion-icon style="color:#707071;" name="refresh"></ion-icon> </ion-button>
			    <ion-button   fill="clear"   (click)="onChangemode('list')"> <ion-icon style="color:#707071;" name="list"></ion-icon> </ion-button>
				<ion-button   fill="clear" (click)="onChangemode('grid')"> <ion-icon style="color:#707071;" name="apps"></ion-icon> </ion-button>
				</div>
		</div>
	</div>
  </ion-card>
</form>
  
  	<div  class="row" style="padding:0px; " *ngIf="gridmode">
		<div class="col-md-4" style="padding:0px; margin-left:12px;" *ngFor="let result of list; let i = index">	
			<ion-card  style="margin:0px; border:1px solid #c0c0c0;padding:15px;">
			<div >
			<p style="margin:0px; font-size:14px; color:#f78812; margin-bottom:5px;">
			<span><strong>{{ result.nom }} {{ result.prenom }}</strong></span>
			</p>
			<p style="margin:0px; font-size:14px; margin-bottom:5px;"><span>Matricule: {{ result.matricule }} </span></p>
			<p style="margin:0px; font-size:14px; margin-bottom:5px;" *ngFor="let line1 of notes">
								<span  *ngIf="line1.statut=='1'">{{line1.label}}/{{line1.onvalue}} : {{ result.note1 }}</span>
								<span  *ngIf="line1.statut=='2'">{{line1.label}}/{{line1.onvalue}} : {{ result.note2 }}</span>
								<span  *ngIf="line1.statut=='3'">{{line1.label}}/{{line1.onvalue}} : {{ result.note3 }}</span>
								<span  *ngIf="line1.statut=='4'">{{line1.label}}/{{line1.onvalue}} : {{ result.note4 }}</span>
						</p>
			<p style="margin:0px; font-size:14px; margin-bottom:5px;"><span> Moyenne: {{ result.moyenne }} Rang: {{ result.rang }} Coef: {{ result.coef }}</span></p>
			<p style="margin:0px; font-size:14px; margin-bottom:5px;"><span> Mini: {{ result.maxi }} Maxi: {{ result.maxi }}</span></p>
			</div>
		    </ion-card>
		</div>
	</div>
   <ion-card style="padding:15px;"  *ngIf="listmode">
	<table style="width:100%;" >
		<thead>
			<tr>
				<td style="width:px;">Matricule</td>
				<td style="width:;">Nom</td>
				<td style=""  *ngFor="let line of notes">
				<p style="margin-bottom:0px;">{{line.label}}/{{line.onvalue}}</p>
				<p style="margin-bottom:0px;">Coef:{{line.coef}}</p></td>
				<td>Moyenne</td>
				<td>Coef</td>
				<td>Rang</td>
				<td>Mini</td>
				<td>Maxi</td>
			</tr>
		</thead>
		<tbody>
			<tr  *ngFor="let result of list">
				<td  style="padding:0px;padding:10px;">
				<p style="margin-bottom:0px;">{{ result.matricule }}</p>
				</td>
				<td  style="padding:0px;padding:10px;">
				<p style="margin-bottom:0px;">{{ result.nom }} {{ result.prenom }}</p>
				</td>
				<td style="padding:0px;padding-left:10px;" *ngFor="let line1 of notes">
					<span  *ngIf="line1.statut=='1'">{{ result.note1 }}</span>
					<span  *ngIf="line1.statut=='2'">{{ result.note2 }}</span>
					<span  *ngIf="line1.statut=='3'">{{ result.note3 }}</span>
					<span  *ngIf="line1.statut=='4'">{{ result.note4 }}</span>
				</td>
				<td style="padding:0px;padding-left:10px;">
					{{ result.moyenne }}
				</td>
				<td style="padding:0px;padding-left:10px;">
					{{ result.coef }}
				</td>
				<td style="padding:0px;padding-left:10px;">
					{{ result.rang }}
				</td>
				<td style="padding:0px;padding-left:10px;">
					{{ result.mini }}
				</td>
				<td style="padding:0px;padding-left:10px;">
					{{ result.maxi }}
				</td>
			</tr>
		</tbody>
	</table>  
	
   </ion-card>
   
   
  <div style="margin-bottom:200px;">
  </div>
  
  
</ion-content>
