<ion-header  >
  <ion-grid style="background-color:{{backcolor1}}; color:{{textcolor}}; padding:5px; ">
   <ion-row  style="background-color:{{backcolor1}}; color:{{textcolor}}; margin-top:30px;">
	<ion-col size="1" style="padding:0px; font-size:20px;">
       <ion-back-button ></ion-back-button>
    </ion-col>
    <ion-col style="padding:10px; padding-left:0px;">
       <ion-title style="font-size:16px;margin-top:3px;">
		   {{param2}}
		</ion-title>
    </ion-col>
  </ion-row>
 </ion-grid>
</ion-header>

<ion-header  class="ion-no-border">
  <ion-row>
	<ion-searchbar    (keyup)="applyFilter('event')"></ion-searchbar>
  </ion-row>
</ion-header>


<ion-content [fullscreen]="true">
 <div *ngIf="!addForm">
 <form [formGroup]="pageForm"  style="margin-top:20px;margin-left:20px;">
 <div class="row"  style="padding:15px;">
    
	<div class="col-md-4">
       <ion-input labelPlacement="floating" value="" type="text"   [(ngModel)]="text" formControlName="text"  (ionChange)="onSearch()"  style="border-bottom:1px solid #c0c0c0;">
			<div slot="label">Récherche</div>
		</ion-input>
	</div>
	<div class="col-md-3">
       <ion-input labelPlacement="floating" value="" type="date"   [(ngModel)]="date1" formControlName="date1"  (ionChange)="onRefresh()"  style="border-bottom:1px solid #c0c0c0;">
			<div slot="label">Du</div>
		</ion-input>
	</div>
	<div class="col-md-3">
       <ion-input labelPlacement="floating" value="" type="date"   [(ngModel)]="date2" formControlName="date2"  (ionChange)="onRefresh()"  style="border-bottom:1px solid #c0c0c0;">
			<div slot="label">Au</div>
		</ion-input>
	</div>
	<div class="col-md-1">
       <ion-button   fill="clear" slot="end"   (click)="onChangemode('list')"> <ion-icon style="color:#707071;" name="list"></ion-icon> </ion-button>
	</div>
	<div class="col-md-1">
       <ion-button   fill="clear" slot="end"  (click)="onChangemode('grid')"> <ion-icon style="color:#707071;" name="apps"></ion-icon> </ion-button>
	</div>
  </div>
  </form>
   <table style="width:100%;"  *ngIf="listmode">
	<thead>
		<tr>
			<td>Id</td>
			<td>Nom</td>
			<td>Prénom</td>
			<td>Téléphone</td>
			<td>Email</td>
			<td>A payer</td>
			<td>Heures </td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</thead>
	<tbody>
		<tr  *ngFor="let result of results">
			<td>{{ result.id }}</td>
			<td>{{ result.firstName }}</td>
			<td>{{ result.lastName }}</td>
			<td>{{ result.mobile }}</td>
			<td>{{ result.emailaddress }}</td>
			<td>{{ result.accountAmount }}</td>
			<td>{{ result.other }} hrs</td>
			<td> <ion-button  fill="clear" slot="end"   routerLink="/enseignantmatiere/{{ result.walletId }}/{{ result.firstName }} {{ result.lastName }}"> <ion-icon name="list"></ion-icon> </ion-button></td>
			<td>
				<ion-button  fill="clear" slot="end"  routerLink="/editemploienseignone/{{result.id}}/{{param3}}/{{ result.firstName }} {{ result.lastName }}"> <ion-icon name="calendar"></ion-icon> </ion-button>
			</td>
			<td>
				 <ion-button  fill="clear" slot="end"  routerLink="/editpresence/{{result.id}}/{{param3}}/{{ result.firstName }} {{ result.lastName }}"> <ion-icon name="calendar"  color="success" ></ion-icon> </ion-button>
			</td>
			<td>
				
			  <ion-button  fill="clear" slot="end"  color="grid"  routerLink="/editpresenceens/{{ result.id }}"> <ion-icon name="list" color="success"></ion-icon> </ion-button>
			</td>
		</tr>
	</tbody>
</table>


   
   <div  *ngIf="gridmode">
      <ion-card *ngFor="let result of results; let i = index" >
		  <div button  style="padding:7px;">
			<div >
			<p style="margin:0px; font-size:14px; color:; margin-bottom:5px;">
			<span><strong>{{ result.firstName }} {{ result.lastName }}</strong></span>
			</p>
			<p style="margin:0px; font-size:14px; margin-bottom:5px;"><span><strong>Téléphone:</strong> {{ result.mobile }} <strong>  Email: </strong>{{ result.emailaddress }}</span></p>
			<p style="margin-bottom:0px;"><ion-badge color=""  style="font-size:14px; ">{{ result.accountAmount }} F</ion-badge> <ion-badge color=""  style="font-size:14px; margin-left:20px;">{{ result.other }} heures</ion-badge></p>
			</div>
		  </div>
	  </ion-card>
    </div>
  </div>

</ion-content>
