<ion-header  >
 <ion-grid style="background-color:{{backcolor1}}; color:{{textcolor}}; padding:5px; ">
   <ion-row  style="background-color:{{backcolor1}}; color:{{textcolor}}; margin-top:30px;">
		<ion-col size="1" style="padding:0px; font-size:20px;">
           <button style="padding-top:10px; background-color:;"  (click)="closemodal('0','0')">
            <ion-icon name="arrow-back" style="font-size:25px;color:;"  showWhen="android,windows"></ion-icon>
          </button>
    </ion-col>
    <ion-col style="padding:10px; padding-left:0px;">
       <ion-title style="font-size:16px;margin-top:3px;">
		   {{param2}}
		</ion-title>
    </ion-col>
  </ion-row>
 </ion-grid>
</ion-header>


<ion-content [fullscreen]="true" style="background-color:">

	<div  class="row" style="padding:0px;" >
		<div class="col-md-6" >	
			<ion-card  style="border:1px solid #c0c0c0;padding:15px;" >
			<div >
			
			<p style="margin:0px; font-size:14px; color:#1258da; margin-bottom:5px;">
			<span><strong>Client</strong></span>
			</p>
			<p style="margin:0px; font-size:14px; color:#1258da; margin-bottom:5px;">
			<span><strong>{{ firstName }} {{ lastName }}</strong></span>
			</p>
			<p style="margin:0px; font-size:14px; margin-bottom:5px;"><span><strong>Téléphone:</strong> {{ mobile }} </span></p>
			<p style="margin:0px; font-size:14px; margin-bottom:5px;"><span> <strong>Email: </strong>{{ emailaddress }}</span></p>
			<p style="margin:0px; font-size:14px; margin-bottom:5px;"><span><strong>  Ville: </strong>{{ city }} <strong> Adresse: </strong>{{ address }} <strong> Entreprise: </strong>{{ master }}</span></p>
			</div>
		    </ion-card>
	  
		</div>
		
		<div class="col-md-6" *ngFor="let result of results; let i = index">	
			<ion-card  style="border:1px solid #c0c0c0;padding:15px;">
			<div >
			<p style="margin:0px; font-size:14px; color:#1258da; margin-bottom:5px;">
			<span><strong>{{ typelib }} N° : {{ ref }}</strong></span>
			</p>
			<p style="margin:0px; font-size:14px; margin-bottom:5px;"></p>
			<p style="margin:0px; font-size:14px; margin-bottom:5px;">Loyer: {{ price }} Charge: {{ charge }} Net à payer: {{ amount }}</p>
			<p style="margin:0px; font-size:14px; margin-bottom:5px;"></p>
			<p style="margin:0px; font-size:14px; margin-bottom:5px;"></p>
			<p style="margin:0px; font-size:14px; margin-bottom:5px;">Propriété: {{ property }} Propriétaire: {{ owner }}</p>
			</div>
		    </ion-card>
	  
		</div>
	</div>
	
  <ion-card *ngIf="!addForm">
	<div class="row" style="padding:7px;">
			<div class="col-md-1">
			   <ion-icon style="margin:12px; color:#707071; font-size:18px;" name="settings"></ion-icon>
			</div>
			<div class="col-md-7">
			   <div style="margin-top:10px; text-transform:upercase;">
				<form [formGroup]="pageForm"  *ngIf="pageForm">
					<input class=""   [(ngModel)]="word" formControlName="word"  (keyup)="applyFilter()" placeholder="RECHERCHE" style="padding:5px; width:100%; border:1px solid #e6e8e8;"/>
			   </form>
			   </div>
			</div>
			<div class="col-md-4" >
				<div align="right">
				 <ion-button  fill="clear"  (click)="onNew()"style="color:#707071;">Ajouter</ion-button>
			    <ion-button   fill="clear"   (click)="onChangemode('list')"> <ion-icon style="color:#707071;" name="list"></ion-icon> </ion-button>
				<ion-button   fill="clear" (click)="onChangemode('grid')"> <ion-icon style="color:#707071;" name="apps"></ion-icon> </ion-button>
				</div>
			</div>
	    </div>
	<div  class="row" style="padding:20px;" *ngIf="listmode">
		<table style="width:100%;"  >
			<thead>
				<tr>
					<td>Id</td>
					<td>N°</td>
					<td>Nom</td>
					<td>Prénom(s)</td>
					<td>Téléphone</td>
					<td>Email</td>
					<td>Adresse</td>
					<td>Ville</td>
					<td></td>
				</tr>
			</thead>
			<tbody>
				<tr  *ngFor="let result of results">
					<td>{{ result.id }}</td>
					<td>{{ result.number }}</td>
					<td>{{ result.firstName }}</td>
					<td>{{ result.lastName }}</td>
					<td>{{ result.mobile }}</td>
					<td>{{ result.emailaddress }}</td>
					<td>{{ result.address }}</td>
					<td>{{ result.city }}</td>
					<td>
						<ion-button  fill="clear" slot="end"    (click)="onselect(result.id, result.firstName+' '+result.lastName)"> <ion-icon name="list"></ion-icon> </ion-button>
						
					</td>
				</tr>
			</tbody>
		</table>  
		
	</div>
	<div  class="row" style="padding:0px;" *ngIf="gridmode">
		<div class="col-md-4" *ngFor="let result of results; let i = index">	
			<ion-card  style="border:1px solid #c0c0c0;padding:15px;"   (click)="onselect(result.id, result.firstName+' '+result.lastName)">
			<div >
			<p style="margin:0px; font-size:14px; color:#1258da; margin-bottom:5px;">
			<span><strong>{{ result.firstName }} {{ result.lastName }}</strong></span>
			</p>
			<p style="margin:0px; font-size:14px; margin-bottom:5px;"><span><strong>Téléphone:</strong> {{ result.mobile }} </span></p>
			<p style="margin:0px; font-size:14px; margin-bottom:5px;"><span> <strong>Email: </strong>{{ result.emailaddress }}</span></p>
			<p style="margin:0px; font-size:14px; margin-bottom:5px;"><span><strong>  Ville: </strong>{{ result.city }}<strong> Adresse: </strong>{{ result.address }}</span></p>
			</div>
		    </ion-card>
	  
		</div>
	</div>
  </ion-card>
    
<div  style="text-transform:none;"><ion-button id="open-action-sheet" fill="clear"></ion-button></div>
 <ion-action-sheet
	trigger="open-action-sheet"
	header="Edition"
	[buttons]="actionSheetButtons"
	(didDismiss)="setResult($event)"
></ion-action-sheet>

  <form [formGroup]="categForm" (ngSubmit)="onAdd()" *ngIf="addForm">
    <ion-card>
	     <div style="border-bottom:1px solid #c0c0c0;">
		<ion-row>
			<ion-col size="1">
			   <ion-icon style="margin:12px; color:#707071; font-size:18px;" name="settings"></ion-icon>
			</ion-col>
			<ion-col size="6">
			   <div style="margin-top:7px; text-transform:upercase;">{{liboperation}}</div>
			</ion-col>
			<ion-col size="5" >
				
			</ion-col>
	    </ion-row>
		
	</div>
		  <ion-card-content>
		  
			<div class="row">
				<div class="col-md-6" style="margin-bottom:20px;">
					<ion-item>
						<ion-input labelPlacement="floating" value=""  [(ngModel)]="firstName" formControlName="firstName" type="text">
						  <div slot="label">Nom</div>
						</ion-input>
					</ion-item>
				</div>
				<div class="col-md-6" style="margin-bottom:20px;">
					<ion-item>
						<ion-input labelPlacement="floating" value=""  [(ngModel)]="lastName" formControlName="lastName" type="text">
						  <div slot="label">Prénom (Facultatif)</div>
						</ion-input>
					</ion-item>
				</div>
				<div class="col-md-6" style="margin-bottom:20px;">
					<ion-item>
						<ion-input labelPlacement="floating"  [(ngModel)]="phone" formControlName="phone" value=""  type="text">
						  <div slot="label">Téléphone</div>
						</ion-input>
					</ion-item>
				</div>
				<div class="col-md-6" style="margin-bottom:20px;">
					<ion-item>
						<ion-input labelPlacement="floating" [(ngModel)]="email" formControlName="email" value="" type="text">
						  <div slot="label">Email</div>
						</ion-input>
					</ion-item>
				</div>
				<div class="col-md-6" style="margin-bottom:20px;">
					<ion-item>
						<ion-input labelPlacement="floating" value=""  [(ngModel)]="address" formControlName="address" type="text">
						  <div slot="label">Adresse</div>
						</ion-input>
					</ion-item>
				</div>
				<div class="col-md-6" style="margin-bottom:20px;">
					<ion-item>
						<ion-input labelPlacement="floating" value=""  [(ngModel)]="city" formControlName="city" type="text">
						  <div slot="label">Ville, commune, quartier</div>
						</ion-input>
					</ion-item>
				</div>
				<div class="col-md-6" style="margin-bottom:20px;">
					<ion-item>
						<ion-input labelPlacement="floating" value=""  [(ngModel)]="master" formControlName="master" type="text">
						  <div slot="label">Entreprise</div>
						</ion-input>
					</ion-item>
				</div>
				<div class="col-md-12" style="margin-bottom:20px;">
					<ion-item>
						<ion-input labelPlacement="floating" value=""  [(ngModel)]="locateurl" formControlName="locateurl" type="text">
						  <div slot="label">URL Géolocalisation</div>
						</ion-input>
					</ion-item>
				</div>
				<div class="col-md-12" style="margin-bottom:20px;">
					<ion-item>
						<ion-textarea labelPlacement="floating" value=""  [(ngModel)]="description" formControlName="description" type="text">
						  <div slot="label">Détail</div>
						</ion-textarea>
					</ion-item>
				</div>
				
				<div class="col-md-2" style="margin-bottom:20px;">
					<ion-button  *ngIf="!isSend" type="submit" expand="block">Valider</ion-button>
					<ion-button  *ngIf="isSend"  expand="block">Validation en cours ...</ion-button>
				</div>
				<div class="col-md-2" style="margin-bottom:20px;">
					<ion-button fill="clear" (click)="onCancelNew()" expand="block">Annuler</ion-button>
				</div>
			</div>
		  </ion-card-content>
	  </ion-card>
  </form>

</ion-content>
