<ion-header  >
  <ion-grid style="background-color:{{backcolor1}}; color:{{textcolor}}; padding:5px; ">
   <ion-row  style="background-color:{{backcolor1}}; color:{{textcolor}}; margin-top:30px;">
	 <ion-col size="1" style="padding:0px; font-size:20px;">
       <ion-back-button ></ion-back-button>
    </ion-col>
    <ion-col size="9" style="padding:10px; padding-left:0px;">
       <ion-title style="font-size:16px;margin-top:3px;">
		   {{param2}}
		</ion-title>
    </ion-col>
    <ion-col  size="1">
       <ion-button fill="clear" (click)="onNew()" style="display:none;">
		  <ion-icon slot="end" style="color:#ffff;" name="add"></ion-icon>
		</ion-button>
    </ion-col>
  </ion-row>
 </ion-grid>
</ion-header>
<ion-content >
  <ion-row  style="margin-top:20px;">
	   <ion-col size="12">
			<form [formGroup]="pageForm">
				<ion-select label="Filère" (ionChange)="onListmatiere()" [(ngModel)]="compte" formControlName="compte"  label-placement="floating"   interface="popover" placeholder="Filère"  fill="outline">
					<ion-select-option  *ngFor="let line of parents;" value="{{line.id}}"  >{{line.label}}</ion-select-option>
				</ion-select>
			</form>
		</ion-col>
    </ion-row>
	
  
  
 <div style="padding:10px;"  *ngIf="!addForm">
 <ion-row  style="margin-top:20px;">
    <ion-col size="2">
       <ion-button  fill="clear" (click)="onNew()"  style="color:#707071;">Ajouter</ion-button>
    </ion-col>
    <ion-col size="10">
       <div align="right">
	      <ion-button   fill="clear" slot="end"   (click)="onChangemode('list')"> <ion-icon style="color:#707071;" name="list"></ion-icon> </ion-button>
		  <ion-button   fill="clear" slot="end"  (click)="onChangemode('grid')"> <ion-icon style="color:#707071;" name="apps"></ion-icon> </ion-button>
	   </div>
    </ion-col>
  </ion-row>
  
 <table style="width:100%;"  *ngIf="listmode">
	<thead>
		<tr>
			<td>Id</td>
			<td style="width:50%;">Libellé</td>
			<td>Code</td>
			<td>Date</td>
			<td>Heure</td>
			<td></td>
		</tr>
	</thead>
	<tbody>
		<tr  *ngFor="let result of results">
			<td>{{ result.id }}</td>
			<td>{{ result.label }}</td>
			<td>{{ result.parent }}</td>
			<td>{{ result.createdAt| date: 'dd/MM/yyyy' }}</td>
			<td>{{ result.createdAt| date: 'HH:MM' }}</td>
			<td>
				<ion-button  fill="clear" slot="end"  (click)="onGet(result.id)"> <ion-icon name="pencil"></ion-icon> </ion-button>
				<ion-button  fill="clear" slot="end"  (click)="onDelete(result.id)"> <ion-icon name="trash"></ion-icon> </ion-button>
			</td>
		</tr>
	</tbody>
</table>


	  <ion-list  *ngIf="gridmode">
		  <ion-item button *ngFor="let result of results">
			<ion-label><p><strong>{{ result.label }}</strong></p>
			<p>  Value: {{ result.amount }} F</p>
			<p>  Date: {{ result.createdAt| date: 'dd/MM/yyyy' }} {{ result.createdAt| date: 'HH:MM' }}</p></ion-label>
			<ion-button  fill="clear" slot="end"  (click)="onGet(result.id)" > <ion-icon name="pencil"></ion-icon> </ion-button>
			<ion-button  fill="clear" slot="end"  (click)="onDelete(result.id)"> <ion-icon name="trash"></ion-icon> </ion-button>
		  </ion-item>
	  </ion-list>
  </div>

  <form [formGroup]="categForm" (ngSubmit)="onAdd()"  *ngIf="addForm">
    <ion-card>
		  <ion-card-content>
		    <div align="left"><h3><strong>{{liboperation}}</strong></h3></div>
			<br />
			<div class="row">
			<div class="col-md-6" style="margin-bottom:20px;">
				<ion-select label="Sélectionnez une matière" (ionChange)="onGetmatiere()" [(ngModel)]="labelid" formControlName="labelid"  label-placement="floating"   interface="popover" placeholder="Sélectionnez une matière"  fill="outline">
					<ion-select-option  *ngFor="let line of matieres;" value="{{line.id}}"  >{{line.label}}</ion-select-option>
				</ion-select>
			</div>
			<div class="col-md-6" style="margin-bottom:20px;">
				<ion-input label="Prix heure" [(ngModel)]="value" formControlName="value" label-placement="floating"  type="text" fill="outline" placeholder="Prix heure"></ion-input>
			</div>
		</div>
		
			
			<br />
			<ion-button  *ngIf="!isSend" type="submit" expand="block">Valider</ion-button>
			<ion-button  *ngIf="isSend"  expand="block">Validation en cours ...</ion-button>
			<br />
			<ion-button fill="clear" (click)="onCancelNew()" expand="block">Annuler</ion-button>
		  </ion-card-content>
	  </ion-card>
  </form>

</ion-content>
