<ion-header  >
  <ion-grid style="background-color:{{backcolor1}}; color:{{textcolor}}; padding:5px; ">
   <ion-row  style="background-color:{{backcolor1}}; color:{{textcolor}}; margin-top:30px;">
	<ion-col size="1" style="padding:0px; font-size:20px;">
       <ion-back-button ></ion-back-button>
    </ion-col>
    <ion-col size="9" style="padding:10px; padding-left:0px;">
       <ion-title style="font-size:16px;margin-top:3px;">
		  Emplois et absences
		</ion-title>
    </ion-col>
    <ion-col  size="1">
    </ion-col>
  </ion-row>
 </ion-grid>
</ion-header>

<ion-content [fullscreen]="true">
   <form [formGroup]="pageForm"  style="margin-top:20px;margin-left:20px;">
		<div class="row">
			<div class="col-md-6" style="margin-bottom:20px; display:none;">
				<ion-select label="Sélectionnez la filière" (ionChange)="onListLevel()" [(ngModel)]="filiere" formControlName="filiere"  label-placement="floating"   interface="popover" placeholder="Sélectionnez la filière"  fill="outline">
					<ion-select-option  value="0">Toutes les filières</ion-select-option>
					<ion-select-option  *ngFor="let line of parents;" value="{{line.id}}"  >{{line.label}}</ion-select-option>
				</ion-select>
			</div>
			<div class="col-md-6" style="margin-bottom:20px;">
				<ion-item>
				<ion-select labelPlacement="floating" (ionChange)="onListbylevel()"   [(ngModel)]="level" formControlName="level"  interface="popover" >
						 <ion-select-option  *ngFor="let result of niveaux"  value="{{ result.id }}" >{{ result.label }}</ion-select-option>
						 <div slot="label">Niveau</div>
					</ion-select>
				</ion-item>	
			</div>
		</div>
			
   </form>
  
 <div style="padding-left:20px;"  *ngIf="!addForm">
<ion-row  style="margin-top:0px;">
    <ion-col size="2" >
       <ion-button  *ngIf="addbutton" fill="clear" (click)="onNew()"  style="color:#707071;">Ajouter</ion-button>
    </ion-col>
    <ion-col size="10">
       <div align="right">
	      <ion-button   fill="clear" slot="end"   (click)="onChangemode('list')"> <ion-icon style="color:#707071;" name="list"></ion-icon> </ion-button>
		  <ion-button   fill="clear" slot="end"  (click)="onChangemode('grid')"> <ion-icon style="color:#707071;" name="apps"></ion-icon> </ion-button>
	   </div>
    </ion-col>
  </ion-row>
 <table style="width:100%;"  *ngIf="listmode">
	<thead>
		<tr>
			<td>Id</td>
			<td>Classe</td>
			<td>Capacité</td>
			<td>Effectif</td>
			<td>Garçons</td>
			<td>Filles</td>
			<td>Enseignant </td>
			<td>Chef</td>
			<td></td>
			<td></td>
		</tr>
	</thead>
	<tbody>
		<tr  *ngFor="let result of results">
			<td>{{ result.id }}</td>
			<td>{{ result.label }}</td>
			<td>{{ result.capacitor }}</td>
			<td>{{ result.tablenbr }}</td>
			<td>{{ result.numberboy }}</td>
			<td>{{ result.numbergirl }}</td>
			<td>{{ result.principalname }}</td>
			<td>{{ result.leadername }}</td>
			<td>
				<ion-button  fill="clear" slot="end"    routerLink="/configemploi/{{result.id}}/{{result.filiere}}/{{result.label}}" > <ion-icon name="calendar"></ion-icon> </ion-button>
				<ion-button  fill="clear" slot="end"   routerLink="/saisieabsence/{{result.id}}/{{result.filiere}}/{{result.label}}" > <ion-icon name="calendar" color="danger"></ion-icon> </ion-button>
			</td>
			<td>
				<ion-button  fill="clear" slot="end"   routerLink="/saisienotes/{{result.id}}/{{result.level}}/{{result.label}}"> <ion-icon name="keypad"></ion-icon> </ion-button>
				<ion-button  fill="clear" slot="end" > <ion-icon name="document"></ion-icon> </ion-button>
			</td>
		</tr>
	</tbody>
</table>


	  <div  *ngIf="gridmode">
		  <ion-card button *ngFor="let result of results" style="padding:20px;">
			<p style="margin-bottom:0px;"><strong>{{ result.id }}-{{ result.label }}</strong> </p>
			<p style="margin-bottom:0px;">Capacité: {{ result.capacitor }} Effectif: {{ result.tablenbr }} Garçons:{{ result.numberboy }} Filles:{{ result.numbergirl }}</p>
			<p style="margin-bottom:0px;">Enseignant: {{ result.principalname }} Chef de classe: {{ result.leadername }} </p>
		    <p style="margin-bottom:0px;"> 
			<ion-button  fill="clear" slot="end"    routerLink="/configemploi/{{result.id}}/{{result.filiere}}/{{result.label}}" > <ion-icon name="calendar"></ion-icon> </ion-button>
			<ion-button  fill="clear" slot="end"   routerLink="/saisieabsence/{{result.id}}/{{result.filiere}}/{{result.label}}" > <ion-icon name="calendar" color="danger"></ion-icon> </ion-button>
			<ion-button  fill="clear" slot="end"   routerLink="/saisienotes/{{result.id}}/{{result.level}}/{{result.label}}"> <ion-icon name="keypad"></ion-icon> </ion-button>
		    <ion-button  fill="clear" slot="end" > <ion-icon name="document"></ion-icon> </ion-button>
			</p> 
		  </ion-card>
	  </div>
  </div>

</ion-content>
