<ion-menu contentId="main-content">
<ion-content [fullscreen]="true" style="height:100%; padding:0px; background-color:;">
 	<ion-row style=" background-color:{{backcolor2}}; color:{{textcolor2}};">
										<ion-col size="2.5" style="  padding:0;height:640px; width:60px;">
											<ion-header style="background-color:{{backcolor3}}; height:640px; width:60px;" >
											   <ion-grid >
											   <ion-row   style=" background-color:{{backcolor3}}; color:{{textcolor3}}; padding:px;  margin-top:70px;">
													<ion-col size="12" style="padding:0px; font-size:20px;">
													 <ion-button (click)="goSelect('gestionimmo')" fill="clear"> <ion-icon name="business-outline" style="font-size:24px;color:{{textcolor3}};"></ion-icon> </ion-button>
													 <ion-button (click)="goSelect('promotion')" fill="clear"> <ion-icon name="home-outline" style="font-size:24px;color:{{textcolor3}};"></ion-icon> </ion-button>
													<ion-button (click)="goSelect('recette')" fill="clear"> <ion-icon name="diamond-outline" style="font-size:24px;color:{{textcolor3}};"></ion-icon> </ion-button>
													  <ion-button (click)="goSelect('charge')" fill="clear"> <ion-icon name="cart-outline" style="font-size:24px;color:{{textcolor3}};"></ion-icon> </ion-button>
													 <ion-button (click)="goSelect('caisse')" fill="clear"> <ion-icon name="wallet-outline" style="font-size:24px;color:{{textcolor3}};"></ion-icon> </ion-button>
													 <ion-button (click)="goSelect('event')" fill="clear"> <ion-icon name="calendar-outline" style="font-size:24px;color:{{textcolor3}};"></ion-icon> </ion-button>
													 <ion-button (click)="goSelect('config')" fill="clear"> <ion-icon name="construct-outline" style="font-size:24px;color:{{textcolor3}};"></ion-icon> </ion-button>
													 <ion-button (click)="goSelect('eglise')" fill="clear" style="display:none"> <ion-icon name="person-outline" style="font-size:24px;color:{{textcolor3}};"></ion-icon> </ion-button>
													 <ion-button (click)="goSelect('editschool')" fill="clear" style="display:none"><ion-icon name="disc-outline" style="font-size:24px;color:{{textcolor3}};"></ion-icon></ion-button>
													  <ion-button (click)="goSelect('configschool')" fill="clear" style="display:none"> <ion-icon name="school-outline" style="font-size:24px;color:{{textcolor3}};"></ion-icon> </ion-button>
													 <ion-button (click)="goSelect('hebergement')" fill="clear" style="display:none"> <ion-icon name="bed-outline" style="font-size:24px;color:{{textcolor3}};"></ion-icon> </ion-button>
													 <ion-button (click)="goSelect('admin')" fill="clear"> <ion-icon name="settings-outline" style="font-size:24px;color:{{textcolor3}};"></ion-icon> </ion-button>
													</ion-col>
											   </ion-row>
											 </ion-grid>
											</ion-header>
										</ion-col>
										<ion-col size="9.5" style="height:100%;  width:150px;  background-color:{{backcolor2}}; color:{{textcolor2}};  margin-top:70px;">
										
											<div style="margin-top:15px;"  *ngIf="promotion">
											<p><strong style=" "  style="margin:15px;">PROMOTION IMMOBILIERE</strong></p>
											<div style=" margin-top:20px;  background-color:{{backcolor2}}; color:{{textcolor2}};">
												
											</div>
											<p><strong style=" "  style=" margin-top:12px;"></strong></p>
											<div style=" margin-top:20px;  background-color:{{backcolor2}}; color:{{textcolor2}};">
											
											
												<ion-item href="#" routerLink="/categorie/exploitation/Type d'explotation">
												  <ion-label style=" ">Type d'explotation</ion-label>
												</ion-item>
												
												<ion-item href="#" routerLink="/categorie/logement/Type de logement">
												  <ion-label style=" ">Type de logement</ion-label>
												</ion-item>
												
												
												<ion-item  routerLink="/promotion/property/gestion/Programmes">
												  <ion-label style=" ">Programmes</ion-label>
												</ion-item>
												
												
												<ion-item routerLink="/souscripteur/souscripteur/Souscripteurs">
												  <ion-label style=" ">Souscripteurs</ion-label>
												</ion-item>
												
												<ion-item  routerLink="/souscription/0/0/Souscriptions">
												  <ion-label style=" ">Souscriptions</ion-label>
												</ion-item>
												
												<ion-item   routerLink="/lotstatut/0/Tous les lots">
												  <ion-label style=" ">Tous les lots</ion-label>
												</ion-item>
												
												
												<ion-item   routerLink="/lotstatut/1/Lots disponibles disponibles">
												  <ion-label style=" ">Lots disponibles</ion-label>
												</ion-item>
												
												<ion-item   routerLink="/lotstatut/2/Lots vendus">
												  <ion-label style=" ">Lots vendus</ion-label>
												</ion-item>
											</div>
											</div>
											<div style="margin-top:15px;"  *ngIf="parcauto">
											<p><strong style=" "  style="margin:15px;">PARC AUTO</strong></p>
											<div style=" margin-top:20px;  background-color:{{backcolor2}}; color:{{textcolor2}};">
												
											</div>
											<p><strong style=" "  style=" margin-top:12px;"></strong></p>
											<div style=" margin-top:20px;  background-color:{{backcolor2}}; color:{{textcolor2}};">
											
											
												
												<ion-item   routerLink="/conducteur/proprietaireauto/proprietaires">
												  <ion-label style=" ">Propriétaires</ion-label>
												</ion-item>
												
												
												<ion-item  routerLink="/conducteur/conducteur/Conducteurs" >
												  <ion-label style=" ">Conducteurs</ion-label>
												</ion-item>
												
												<ion-item  routerLink="/car/0/Automobiles">
												  <ion-label style=" ">Automobiles</ion-label>
												</ion-item>
												
												<ion-item href="#" routerLink="/categorie/chargeauto/Types de charge">
												  <ion-label style=" ">Types de charge</ion-label>
												</ion-item>
												
												<ion-item href="#" routerLink="/categorie/recetteauto/Types de récette">
												  <ion-label style=" ">Types de récette</ion-label>
												</ion-item>
												
												<ion-item  routerLink="/chargefixe/11/CHARGE-AUTO/3/Charges liées">
												  <ion-label style=" ">Charges d'exploitation</ion-label>
												</ion-item>
												
												<ion-item  routerLink="/chiffredaffaire/12/RECETTE/1/Récettes d'exploitation">
												  <ion-label style=" ">Récettes d'exploitation</ion-label>
												</ion-item>
												
												<ion-item  routerLink="/rapport/0/Rapport" >
												  <ion-label style=" ">Bilan d'exploitation</ion-label>
												</ion-item>
												
												
											</div>
											</div>
											
											<div style="margin-top:15px;"  *ngIf="gestionimmo">
											<p><strong style=" "  style="margin:15px;">GESTION IMMOBILIERE</strong></p>
											<div style=" margin-top:20px;  background-color:{{backcolor2}}; color:{{textcolor2}};">
												
											</div>
											<p><strong style=" "  style=" margin-top:12px;"></strong></p>
											<div style=" margin-top:20px;  background-color:{{backcolor2}}; color:{{textcolor2}};">
												<ion-item href="#"  routerLink="/gestion/categorie/typebien/Types de bien">
												  <ion-label style=" ">Types de bien</ion-label>
												</ion-item>
												
												
												<ion-item href="#"  routerLink="/gestion/partner/proprietaire/Propriétaires">
												  <ion-label style=" ">Propriétaires</ion-label>
												</ion-item>
												
												<ion-item href="#"  routerLink="/gestion/property/gestion/Propriétés">
												  <ion-label style=" ">Propriétés</ion-label>
												</ion-item>
												
												<ion-item href="#"  routerLink="/gestion/apartment/0/0/Biens immobiliers">
												  <ion-label style=" ">Biens immobiliers</ion-label>
												</ion-item>
												
												<ion-item href="#"   routerLink="/gestion/partner/locataire/Locataires">
												  <ion-label style=" ">Locataires</ion-label>
												</ion-item>
												
												<ion-item href="#"   routerLink="/gestion/partner/prospect/Prospects">
												  <ion-label style=" ">Prospects</ion-label>
												</ion-item>
												
												<ion-item href="#"   routerLink="/gestion/partner/prospect2/Prospects en attente">
												  <ion-label style=" ">Prospects en attente</ion-label>
												</ion-item>
												
												
												<ion-item href="#"  routerLink="/location/0/0/Gestions des baux">
												  <ion-label style=" ">Gestions des baux </ion-label>
												</ion-item>
												
												<ion-item href="#"   routerLink="/editquittance/1/LOYER/1/Quittances">
												  <ion-label style=" ">Gestions des quittances </ion-label>
												</ion-item>
												<ion-item href="#"   routerLink="/commission/1/LOYER/1/Commissions et charges">
												  <ion-label style=" ">Commissions et charges </ion-label>
												</ion-item>
												
												<ion-item href="#"   routerLink="/demandes/0/Demandes">
												  <ion-label style=" ">Gestions des demandes </ion-label>
												</ion-item>
												
												
												<ion-item href="#"   routerLink="/confirmation/0/Toutes les confirmations">
												  <ion-label style=" ">Confirmations</ion-label>
												</ion-item>
												
												
											</div>
											</div>
											<div style="margin-top:15px;"  *ngIf="editschool">
											<p><strong style=" "  style="margin:15px;">ENSEIGNANTS</strong></p>
											<div style=" margin-top:20px;  background-color:{{backcolor2}}; color:{{textcolor2}};">
												<ion-item href="#"  routerLink="/editfiliere">
												  <ion-label style=" ">Cours et travaux pratiques</ion-label>
												</ion-item>
												<ion-item href="#"  routerLink="/emploienseign/enseignant/Enseignants/8">
												  <ion-label style=" ">Emplois et présences</ion-label>
												</ion-item>
												<ion-item href="#"  routerLink="/editpresenceens/0">
												  <ion-label style=" ">Editions des présences</ion-label>
												</ion-item>
												<ion-item href="#"  routerLink="/pointpresence/enseignant/Enseignants/8">
												  <ion-label style=" ">Point des présences</ion-label>
												</ion-item>
											</div>
											<p><strong style=" "  style=" margin-top:12px;"></strong></p>
											<p><strong style=" "  style=" margin:15px;">ELEVES</strong></p>
											<div style=" margin-top:20px;  background-color:{{backcolor2}}; color:{{textcolor2}};">
												<ion-item href="#"  routerLink="/note">
												  <ion-label style=" ">Notes et bulletins</ion-label>
												</ion-item>
												<ion-item href="#"  routerLink="/classeabsences">
												  <ion-label style=" ">Emplois et absences</ion-label>
												</ion-item>
												<ion-item href="#"  routerLink="/editabsences/0/8/Point des absences">
												  <ion-label style=" ">Point des absences</ion-label>
												</ion-item>
												<ion-item href="#"  routerLink="/editabsenceseleve/0/8/Absences des élèves">
												  <ion-label style=" ">Absences des élèves</ion-label>
												</ion-item>
											</div>
											</div>
											
											<div style="margin-top:15px;"  *ngIf="configschool">
											<p><strong style=" "  style=" margin-left:15px; margin-top:15px;">CONFIGURATION</strong></p>
											<div style=" margin-top:20px;  background-color:{{backcolor2}}; color:{{textcolor2}};">
												<ion-item href="#"  routerLink="/matiereniveau/matiere/0/MATIERES PAR NIVEAU">
												  <ion-label style=" ">Matières par niveaun</ion-label>
												</ion-item>
												<ion-item href="#"  routerLink="/periode/periode/filiere/Périodes d'évaluation">
												  <ion-label style=" ">Périodes d'évaluation</ion-label>
												</ion-item>
												<ion-item href="#"  routerLink="/filierenote">
												  <ion-label style=" ">Configurer notes par niveau</ion-label>
												</ion-item>
												<ion-item href="#"  routerLink="/typefrais/typefrais/filiere/Types de frais">
												  <ion-label style=" ">Types de frais de scolarité</ion-label>
												</ion-item>
												<ion-item href="#"  routerLink="/frais">
												  <ion-label style=" ">Frais de scolarité par niveau</ion-label>
												</ion-item>
												<ion-item href="#"  routerLink="/horaire/horaire/filiere/Horaire de l'emplois du temps">
												  <ion-label style=" ">Horaire de l'emplois du temps</ion-label>
												</ion-item>
												<ion-item href="#"  routerLink="/classe">
												  <ion-label style=" ">Classes</ion-label>
												</ion-item>
												<ion-item href="#"  routerLink="/enseignant/enseignant/Enseignants">
												  <ion-label style=" ">Enseignants</ion-label>
												</ion-item>
												<ion-item href="#" routerLink="/student/student/0/Elèves">
												  <ion-label style=" ">Elèves</ion-label>
												</ion-item>
											</div>
											<p><strong style=" "  style=" margin-left:15px; margin-top:15px;"></strong></p>
											<div style=" margin-top:20px;">
												<ion-item href="#"  routerLink="/configschool/type/0/Types de formation">
												  <ion-label style=" ">Types de formation</ion-label>
												</ion-item>
												<ion-item href="#"  routerLink="/configschool/filiere/type/Filères">
												  <ion-label style=" ">Filères</ion-label>
												</ion-item>
												<ion-item href="#"  routerLink="/configschool/niveau/filiere/Niveaux">
												  <ion-label style=" ">Niveaux</ion-label>
												</ion-item>
												<ion-item href="#"  routerLink="/configschool/matiere/filiere/Matières">
												  <ion-label style=" ">Matières</ion-label>
												</ion-item>
												<ion-item href="#"  routerLink="/configschool/typematiere/filiere/Type matières">
												  <ion-label style=" ">Type matières</ion-label>
												</ion-item>
												<ion-item href="#"  routerLink="/configschool/annee/0/Années Scolaires">
												  <ion-label style=" ">Années Scolaires</ion-label>
												</ion-item>
											</div>
											</div>
											
											<div style="margin-top:15px;"  *ngIf="caisse">
											<p><strong style=" "  style=" margin-left:15px; margin-top:15px;">CAISSE ET OPERATIONS</strong></p>
											<div style=" margin-top:20px;">
												<p><span style=" "  style=" margin-left:15px; margin-top:15px;">ENCAISSEMENT</span></p>
												<ion-item href="#"  routerLink="/addoperation/1/0/Encaisser">
												  <ion-label style=" color:#505152;">Encaisser</ion-label>
												</ion-item>
												<ion-item href="#"  routerLink="/billcaisse/1/1/Recette">
												  <ion-label style=" ">Encaisse sur recette</ion-label>
												</ion-item>
												<ion-item href="#"  routerLink="/operation/1/Encaissements">
												  <ion-label style=" ">Tous les encaissements</ion-label>
												</ion-item>
											</div>
											<div style=" margin-top:20px;">
												<p><span style=" "  style=" margin-left:15px; margin-top:15px;">DECAISSEMENT</span></p>
												<ion-item href="#"  routerLink="/addoperation/2/0/Décaisser" style="display:none;">
												  <ion-label style=" color:#505152;">Décaisser</ion-label>
												</ion-item>
												<ion-item href="#"  routerLink="/billcaisse/2/1/Recette">
												  <ion-label style=" ">Décaisser sur charge</ion-label>
												</ion-item>
												<ion-item href="#"  routerLink="/operation/2/Décaissements">
												  <ion-label style=" ">Tous les décaissements</ion-label>
												</ion-item>
											</div>
											</div>
											
											
											<div style="margin-top:15px;"  *ngIf="admin">
											<span><strong style=" "  style=" margin-left:15px; margin-top:15px;">ADMINISTRATION</strong></span>
											<div style=" margin-top:20px;  background-color:{{backcolor2}}; color:{{textcolor2}};">
											
											  <div class="list-group"  style="display:none; background-color:{{backcolor2}}; border:0px; padding:15px;">
												  <a href="#" routerLink="/information" class="list-group-item"  style="  border:0px; border-bottom:1px solid #c0c0c0; background-color:{{backcolor2}}; color:{{textcolor2}};">Information</a>
												  <a href="#" routerLink="/motdepasse" class="list-group-item"  style="  border:0px;border-bottom:1px solid #c0c0c0; background-color:{{backcolor2}}; color:{{textcolor2}};">Changer mot de passe</a>
												  <a href="#" routerLink="/users/user/Utilisateurs" class="list-group-item"  style="  border:0px;border-bottom:1px solid #c0c0c0; background-color:{{backcolor2}}; color:{{textcolor2}};">Utilisateurs</a>
												  <a href="#" routerLink="/caissesultation" class="list-group-item"  style="  border:0px;border-bottom:1px solid #c0c0c0; background-color:{{backcolor2}}; color:{{textcolor2}};">Consulter les caisses</a>
												  <a href="#" routerLink="/caisse" class="list-group-item"  style="  border:0px;border-bottom:1px solid #c0c0c0; background-color:{{backcolor2}}; color:{{textcolor2}};">Configurer les caisses</a>
												  <a href="#" routerLink="/partner/banque/Banque et Mobile Money" class="list-group-item"  style="  border:0px;border-bottom:1px solid #c0c0c0; background-color:{{backcolor2}}; color:{{textcolor2}};">Banques et Mobile Money</a>
												  <a href="#" routerLink="/partner/client/Clients" class="list-group-item"  style="  border:0px;border-bottom:1px solid #c0c0c0; background-color:{{backcolor2}}; color:{{textcolor2}};">Clients</a>
												  <a href="#" routerLink="/partner/fournisseur/Fournisseurs" class="list-group-item"  style="  border:0px;border-bottom:1px solid #c0c0c0; background-color:{{backcolor2}}; color:{{textcolor2}};">Fournisseurs</a>
												  <a href="#" routerLink="/partner/employe/Employés" class="list-group-item"  style="  border:0px;border-bottom:1px solid #c0c0c0; background-color:{{backcolor2}}; color:{{textcolor2}};">Employés</a>
												</div> 

											

												<ion-item href="#" color="light"  routerLink="/information" style=" background-color:{{backcolor2}}; color:{{textcolor2}};">
												  <ion-label style=" color:#505152;" >Information</ion-label>
												</ion-item>
												<ion-item href="#"  routerLink="/motdepasse">
												  <ion-label style=" ">Changer mot de passe</ion-label>
												</ion-item>
												<ion-item href="#"  routerLink="/users/user/Utilisateurs">
												  <ion-label style=" ">Utilisateurs</ion-label>
												</ion-item>
												<ion-item href="#" routerLink="/caisse">
												  <ion-label style=" ">Configurer les caisses</ion-label>
												</ion-item>
												<ion-item href="#" routerLink="/caissesultation">
												  <ion-label style=" ">Consulter les caisses</ion-label>
												</ion-item>
												<ion-item href="#"  routerLink="/partner/banque/Banque et Mobile Money">
												  <ion-label style=" ">Banques et Mobile Money</ion-label>
												</ion-item>
												<ion-item href="#"  routerLink="/partner/client/Clients">
												  <ion-label style=" ">Clients</ion-label>
												</ion-item>
												<ion-item href="#"  routerLink="/partner/fournisseur/Fournisseurs">
												  <ion-label style=" ">Fournisseurs</ion-label>
												</ion-item>
												<ion-item href="#"  routerLink="/partner/employe/Employés">
												  <ion-label style=" ">Employés</ion-label>
												</ion-item>
											</div>
											</div>
											
											<div style="margin-top:15px;"  *ngIf="event">
											<span><strong style=" "  style=" margin-left:15px; margin-top:15px;">PROJETS ET GESTION</strong></span>
											<div style=" margin-top:20px;">
												<ion-item href="#"  routerLink="/project/project/0/Projets" >
												  <ion-label style=" color:#505152;">Projets</ion-label>
												</ion-item>
												<ion-item href="#"  routerLink="/params/1/Bureaux">
												  <ion-label style=" ">Organisation et taches</ion-label>
												</ion-item>
												<ion-item href="#"  routerLink="/project/alltask/0/Les tâches">
												  <ion-label style=" ">Les tâches</ion-label>
												</ion-item>
												<ion-item href="#" routerLink="/project/event/0/Evènements">
												  <ion-label style=" ">Evènements</ion-label>
												</ion-item>
											</div>
											</div>
											
											<div style="margin-top:15px;"  *ngIf="recette">
											<span><strong style=" "  style=" margin-left:15px; margin-top:15px;">RECETTES</strong></span>
											<div style=" margin-top:20px;">
												<ion-item href="#"   routerLink="/bill/1/RECETTE/1/Récettes">
												  <ion-label style=" color:#505152;">Recettes</ion-label>
												</ion-item>
												<ion-item href="#"  routerLink="/bill/1/RECETTE-PRODUIT/3/Récettes détaillées">
												  <ion-label style=" ">Recettes détaillées</ion-label>
												</ion-item>
												<ion-item href="#"  routerLink="/bill/1/FACTURE/2/Ventes et livraison">
												  <ion-label style=" ">Ventes et livraison</ion-label>
												</ion-item>
												<ion-item href="#"  routerLink="/bill/1/COUNTED/0/Recettes et Ventes">
												  <ion-label style=" ">Edition recettes et ventes</ion-label>
												</ion-item>
												<ion-item href="#"  routerLink="/validatebill/1/COUNTED/2/Validation des charges">
												  <ion-label style=" ">Validation  pour encaissement</ion-label>
												</ion-item>
											</div>
											
											<div style=" margin-top:20px;">
												
												<span style="margin-top:15px; margin-bottom:15px;"><strong style=" "  style=" margin-left:15px; margin-top:15px;">AUTRES</strong></span>
												<ion-item href="#"  routerLink="/bill/1/DEVIS/3/Dévis">
												  <ion-label style=" ">Dévis</ion-label>
												</ion-item>
												<ion-item href="#"  routerLink="/bill/1/PROFORMA/4/Proformas">
												  <ion-label style=" ">Proformas</ion-label>
												</ion-item>
												<ion-item href="#" routerLink="/categorie/recette/Comptes des récettes">
												  <ion-label style=" ">Comptes des récettes</ion-label>
												</ion-item>
												<ion-item href="#" routerLink="/categorie/produit/Catégories produits">
												  <ion-label style=" ">Catégories produits</ion-label>
												</ion-item>
												<ion-item href="#" routerLink="/product">
												  <ion-label style=" ">Produits</ion-label>
												</ion-item>
												<ion-item href="#" routerLink="/productstock">
												  <ion-label style=" ">Stock produits</ion-label>
												</ion-item>
												<ion-item href="#"  routerLink="/partner/client/Clients">
												  <ion-label style=" ">Clients</ion-label>
												</ion-item>
											</div>
											
											
											</div>
											
											
											<div style="margin-top:15px;"  *ngIf="charge">
											<span><strong style=" "  style=" margin-left:15px; margin-top:15px;">CHARGES</strong></span>
											<div style=" margin-top:20px;">
												<ion-item href="#"   routerLink="/bill/2/CHARGE/1/Charges">
												  <ion-label style=" color:#505152;">Charges</ion-label>
												</ion-item>
												<ion-item href="#"  routerLink="/bill/2/CHARGE-PRODUIT/3/Charges détaillées">
												  <ion-label style=" ">Charges détaillées</ion-label>
												</ion-item>
												<ion-item href="#"  routerLink="/bill/2/COMMANDE/2/Commandes">
												  <ion-label style=" ">Commande et livraison</ion-label>
												</ion-item>
												<ion-item href="#"  routerLink="/bill/2/COUNTED/2/Charges et commandes">
												  <ion-label style=" ">Edition charges et commandes</ion-label>
												</ion-item>
												<ion-item href="#"  routerLink="/validatebill/2/COUNTED/2/Validation des charges">
												  <ion-label style=" ">Validation pour décaissement</ion-label>
												</ion-item>
											</div>
											<div style=" margin-top:20px; margin-bottom:15px;">
												<span><strong style=" "  style=" margin-left:15px; margin-top:15px; ">AUTRES</strong></span>
												<ion-item href="#"  routerLink="/bill/2/BON-COMMANDE/3/Commandes">
												  <ion-label style=" ">Bons de commande</ion-label>
												</ion-item>
												<ion-item href="#" routerLink="/categorie/charge/Comptes charges">
												  <ion-label style=" ">Comptes des charges</ion-label>
												</ion-item>
												<ion-item href="#" routerLink="/categorie/produit/Catégories produits">
												  <ion-label style=" ">Catégories produits</ion-label>
												</ion-item>
												<ion-item href="#" routerLink="/product">
												  <ion-label style=" ">Produits</ion-label>
												</ion-item>
												<ion-item href="#" routerLink="/productstock">
												  <ion-label style=" ">Stock produits</ion-label>
												</ion-item>
												<ion-item href="#"  routerLink="/partner/fournisseur/Fournisseurs">
												  <ion-label style=" ">Fournisseurs</ion-label>
												</ion-item>
											</div>
											</div>
											
											<div style="margin-top:15px;"  *ngIf="config">
											<span><strong style=" "  style=" margin-left:15px; margin-top:15px;">CONFIGURATION</strong></span>
											<div style=" margin-top:20px;">
												<ion-item href="#" routerLink="/categorie/recette/Comptes des récettes">
												  <ion-label style=" ">Comptes des récettes</ion-label>
												</ion-item>
												<ion-item href="#" routerLink="/categorie/charge/Comptes charges">
												  <ion-label style=" ">Comptes des charges</ion-label>
												</ion-item>
												<ion-item href="#" routerLink="/categorie/produit/Catégories produits">
												  <ion-label style=" ">Catégories produits</ion-label>
												</ion-item>
												<ion-item href="#" routerLink="/product">
												  <ion-label style=" ">Produits</ion-label>
												</ion-item>
												<ion-item href="#" routerLink="/productstock">
												  <ion-label style=" ">Stock produits</ion-label>
												</ion-item>
												<ion-item href="#"  routerLink="/partner/client/Clients">
												  <ion-label style=" ">Clients</ion-label>
												</ion-item>
												<ion-item href="#"  routerLink="/partner/fournisseur/Fournisseurs">
												  <ion-label style=" ">Fournisseurs</ion-label>
												</ion-item>
											</div>
											</div>
											<div style="margin-top:15px;"  *ngIf="eglise">
											<span><strong style=" "  style=" margin-left:15px; margin-top:15px;">EGLISE</strong></span>
											<div style=" margin-top:20px;">
												<ion-item href="#" routerLink="/categorie/group/Départements et Groupes">
												  <ion-label style=" color:#505152;">Départements/Groupes</ion-label>
												</ion-item>
												<ion-item href="#"  routerLink="/params/1/Bureaux">
												  <ion-label style=" ">Organisation et taches</ion-label>
												</ion-item>
												<ion-item href="#" routerLink="/membre/membre/0/Tous les membres">
												  <ion-label style=" ">Tous les membres</ion-label>
												</ion-item>
												<ion-item href="#" routerLink="/membregroupe/membre/0/Membres par département">
												  <ion-label style=" ">Membres par département</ion-label>
												</ion-item>
												<ion-item href="#" routerLink="/cotisation/cotisation/Cotisations">
												  <ion-label style=" ">Configurer les cotisations</ion-label>
												</ion-item>
												<ion-item href="#" routerLink="/listecotisations/cotisation/Liste cotisations">
												  <ion-label style=" ">Liste cotisations</ion-label>
												</ion-item>
											</div>
											</div>
											<div style="margin-top:15px;"  *ngIf="hebergement">
												<div style=" margin-top:20px;">
													<span><strong style=" "  style=" margin-left:15px; margin-top:15px;">HEBERGEMENTS</strong></span>
													<ion-item href="#" routerLink="/membre/membre/0/Tous les membres">
													  <ion-label style=" ">Disponibilités</ion-label>
													</ion-item>
													<ion-item href="#"   routerLink="/hebergementnuite/1/HEBERGEMENT/4/Hébergement nuité">
													  <ion-label style=" color:#505152;">Hébergement nuité</ion-label>
													</ion-item>
													<ion-item href="#"   routerLink="/hebergementnuite/2/Hébergement nuité">
													  <ion-label style=" ">Hébergement répos</ion-label>
													</ion-item>
													<ion-item href="#" routerLink="/membre/membre/0/Tous les membres">
													  <ion-label style=" ">Séjour par date</ion-label>
													</ion-item>
													<ion-item href="#" routerLink="/membre/membre/1/Tous les membres">
													  <ion-label style=" ">Arrivées et départs</ion-label>
													</ion-item>
													<ion-item href="#"  routerLink="/hebergementnuite/0/Hébergement nuité">
													  <ion-label style=" ">Réservations</ion-label>
													</ion-item>
												</div>
												<div style=" margin-top:20px;">
													<span><strong style=" "  style=" margin-left:15px; margin-top:15px;">CONFIGURATION</strong></span>
													<ion-item href="#" routerLink="/type-chambre/typechambre/Type de chambre">
													  <ion-label style=" color:#505152;">Types de chambre</ion-label>
													</ion-item>
													<ion-item href="#"  routerLink="/chambre/0/Chambres">
													  <ion-label style=" ">Chambres</ion-label>
													</ion-item>
													<ion-item href="#" routerLink="/membre/membre/0/Tous les membres">
													  <ion-label style=" ">Tarifs</ion-label>
													</ion-item>
													<ion-item href="#" routerLink="/membre/membre/1/Tous les membres">
													  <ion-label style=" ">Services dans les chambres</ion-label>
													</ion-item>
													<ion-item href="#" routerLink="/membre/membre/1/Tous les membres">
													  <ion-label style=" ">Cardex clients</ion-label>
													</ion-item>
												</div>
											</div>
										
										
										</ion-col>
									</ion-row>
					
					
</ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header  >
 <ion-grid style="background-color:{{backcolor1}}; color:{{textcolor}}; padding:5px; ">
   <ion-row  style="background-color:{{backcolor1}}; color:{{textcolor}}; margin-top:30px;">
		<ion-col  size="1">
		   <ion-menu-toggle>
			  <ion-button fill="clear"><ion-icon style="color:{{textcolor}};" name="menu-outline"></ion-icon></ion-button>
			</ion-menu-toggle>
		</ion-col>
		<ion-col  size="9" style="padding:10px; padding-left:0px;">
		   <ion-title style="font-size:16px;margin-top:3px;">
			   Bienvenue
			</ion-title>
		</ion-col>
		<ion-col  size="2">
		   <ion-button style="display:none1;"  routerLink="/printquittance/1"  fill="clear" > <ion-icon name="print"></ion-icon> </ion-button>
		</ion-col>
	 </ion-row>
    </ion-grid>
  </ion-header>
<ion-content [fullscreen]="true">
	<div class="row" style="margin-top:20px;" >
		<div class="col-md-6">	
			<ion-card class="showdownclass" style="margin:2px;">
			  <ion-card-content>
			   <div align="left" style="margin-bottom:; font-size:12px;">
				<strong>GESTION DES BIENS</strong></div>
				 <ion-list [inset]="true">
					<ion-item>
					  <ion-label>Nombre de biens occupés</ion-label>
					  <ion-badge color="danger" slot="end">{{appoccupe}}</ion-badge>
					</ion-item>
					<ion-item>
					  <ion-label>Nombre de biens libres</ion-label>
					  <ion-badge color="success" slot="end">{{applibre}}</ion-badge>
					</ion-item>
					<ion-item>
					  <ion-label>Nombre de biens fermé</ion-label>
					  <ion-badge color="primary" slot="end">{{appferme}}</ion-badge>
					</ion-item>
					<ion-item>
					  <ion-label>Nombre de biens en travaux</ion-label>
					  <ion-badge color="secondary" slot="end">{{apptravaux}}</ion-badge>
					</ion-item>
				  </ion-list>
				  <div align="left">
						<ion-button   fill="clear" slot="end"  routerLink="/arriere/0/Arriérés cumulés par bien">Arriérés cumulés par bien</ion-button>
				   </div>
			  </ion-card-content>
			</ion-card>
		</div>
		<div class="col-md-6">	
			<ion-card class="showdownclass" style="margin:2px;" >
			  <ion-card-content>
			   <div align="left" style="margin-bottom:; font-size:12px;">
				<strong>GESTION BAUX</strong></div>
				 <ion-list [inset]="true">
					<ion-item>
					  <ion-label>Nombre de locataires</ion-label>
					  <ion-badge color="secondary" slot="end">{{appall}}</ion-badge>
					</ion-item>
					<ion-item>
					  <ion-label>Nombre de locataires actifs</ion-label>
					  <ion-badge color="success" slot="end">{{appactif}}</ion-badge>
					</ion-item>
					<ion-item>
					  <ion-label>Nombre de locataires inactifs</ion-label>
					  <ion-badge color="warning" slot="end">{{appinactif}}</ion-badge>
					</ion-item>
					<ion-item>
					  <ion-label>Montant d'impayé</ion-label>
					  <ion-badge color="danger" slot="end">{{impayeTotal}} F</ion-badge>
					</ion-item>
				  </ion-list>
				  <div align="left">
						<ion-button   fill="clear" slot="end"  routerLink="/dette/0/Dettes par locataires">Dettes par locataires</ion-button>
				   </div>
			  </ion-card-content>
			</ion-card>
		</div>	
	</div>



<div  style="display:none;">
	<div   style="display:none1;">

	<swiper-container
		#swiper
		(afterinit)="swiperReady()"
		(slidechange)="swiperSlideChanged($event)"
		[loop]="true"
		[autoplay]="true"
		[pagination]="true"
		[zoom]="true" >
		<swiper-slide *ngFor="let image of images">
		  <div class="swiper-zoom-container">
			<img [src]="image" />
		  </div>
		</swiper-slide>
	  </swiper-container>
	<div >
	  </div>
	</div>
	<div  style="display:none; background-color:#1a78f7; width:100%; height:80px; padding:20px;">
	<ion-row>
		<ion-col size="5">
			<p style="font-size:16px; margin-top:7px; color:#ffffff;"><strong >BIENVENUE</strong></p>
		</ion-col>
		<ion-col size="1">
		
		</ion-col>
	</ion-row>
 </div>
	 <ion-card  style="padding:12px; margin-bottom:0px;">
		<form [formGroup]="pageForm">
		<div style="display:none1;">
			<ion-row >
				<ion-col size="12">
				   <span>Bilan</span>
				</ion-col>
				<ion-col size="6">
				   <input [(ngModel)]="_date1" formControlName="_date1" type="date" placeholder="Du" style="padding:7px; border:1px solid #c0c0c0; width:100%; background-color:#ffffff;"/>
				</ion-col>
				<ion-col  size="6">
				   <input [(ngModel)]="_date2" formControlName="_date2" type="date" placeholder="Du" style="padding:7px; border:1px solid #c0c0c0; width:100%; background-color:#ffffff;"/>
				</ion-col>
			</ion-row>
	        <ion-button fill="clear" expand="block"  (click)="goBilan()">Afficher</ion-button>
			<ion-row >
				<ion-col size="4">
					<ion-row >
						<ion-col size="12">
						   <strong>Récettes</strong>
						</ion-col>
						<ion-col size="12">
						   <span style="font-size:12px;">{{recetteTotal}}F</span>
						</ion-col>
					</ion-row>
				</ion-col>
				<ion-col size="4">
					<ion-row >
						<ion-col size="12">
						   <strong>Charges</strong>
						</ion-col>
						<ion-col size="12">
						   <span style="font-size:12px;">{{chargeTotal}}F</span>
						</ion-col>
					</ion-row>
				</ion-col>
				<ion-col size="4">
					<ion-row >
						<ion-col size="12">
						   <strong>Marge</strong>
						</ion-col>
						<ion-col size="12">
						   <span style="font-size:12px;">{{margeTotal}}F</span>
						</ion-col>
					</ion-row>
				</ion-col>
			</ion-row>
		</div>
		</form>
	</ion-card>
	 <ion-row>
		<ion-col size="4">
			<ion-card class="showdownclass" style="margin:2px;"  routerLink="/menu/recette/Récettes">
			  <ion-card-content>
			   <div align="center" style="margin-bottom:0px;">
					<ion-icon name="diamond-outline" style="font-size:24px;"></ion-icon>
				</div>
			   <div align="center" style="margin-bottom:; font-size:12px;">Récettes</div>
			  </ion-card-content>
			</ion-card>
		</ion-col>
	   <ion-col size="4">
			<ion-card class="showdownclass" style="margin:2px;"  routerLink="/menu/charge/Charges">
			  <ion-card-content>
			   <div align="center" style="margin-bottom:0px;">
					<ion-icon name="cart-outline" style="font-size:24px;"></ion-icon> 
				</div>
			   <div align="center" style="margin-bottom:; font-size:12px;">Charges</div>
			  </ion-card-content>
			</ion-card>
		</ion-col> 
		<ion-col size="4">
			<ion-card class="showdownclass" style="margin:2px;"  routerLink="/menu/caisse/Caisse">
			  <ion-card-content>
			   <div align="center" style="margin-bottom:0px;">
					<ion-icon name="wallet-outline" style="font-size:24px;"></ion-icon>
				</div>
			   <div align="center" style="margin-bottom:; font-size:12px;">Caisse</div>
			  </ion-card-content>
			</ion-card>
		</ion-col>
		<ion-col size="4">
			<ion-card class="showdownclass" style="margin:2px;"  routerLink="/menu/event/Planning">
			  <ion-card-content>
			   <div align="center" style="margin-bottom:0px;">
					<ion-icon name="calendar-outline" style="font-size:24px;"></ion-icon>
				</div>
			   <div align="center" style="margin-bottom:; font-size:12px;">Planning</div>
			  </ion-card-content>
			</ion-card>
		</ion-col>
		<ion-col size="4">
			<ion-card class="showdownclass" style="margin:2px;"  routerLink="/menu/config/Configuration">
			  <ion-card-content>
			   <div align="center" style="margin-bottom:0px;">
					<ion-icon name="construct-outline" style="font-size:24px;"></ion-icon>
				</div>
			   <div align="center" style="margin-bottom:; font-size:12px;">Config.</div>
			  </ion-card-content>
			</ion-card>
		</ion-col>
		<ion-col size="4">
			<ion-card class="showdownclass" style="margin:2px;"  routerLink="/menu/admin/Administration">
			  <ion-card-content>
			   <div align="center" style="margin-bottom:0px;">
					<ion-icon name="business-outline" style="font-size:24px;"></ion-icon>
				</div>
			   <div align="center" style="margin-bottom:; font-size:12px;">Admin</div>
			  </ion-card-content>
			</ion-card>
		</ion-col>
	  </ion-row>
	  
</div>
<div style="margin-bottom:300px;">
</div>
 
</ion-content>

</div>