<ion-header  >
 <ion-grid style="background-color:{{backcolor1}}; color:{{textcolor}}; padding:5px; ">
   <ion-row  style="background-color:{{backcolor1}}; color:{{textcolor}}; margin-top:30px;">
		<ion-col size="1" style="padding:0px; font-size:20px;">
       <ion-back-button ></ion-back-button>
    </ion-col>
    <ion-col size="9" style="padding:10px; padding-left:0px;">
       <ion-title style="font-size:16px;margin-top:3px;">
		  Détail
		</ion-title>
    </ion-col>
    <ion-col  size="1">
       
    </ion-col>
  </ion-row>
 </ion-grid>
</ion-header>

<ion-content [fullscreen]="true">
	<h5  style="font-size:14px; margin-left:15px; color:#474847;">DETAIL</h5>
    <ion-card>
		<div style="padding:10px; border-bottom:1px solid #c0c0c0;">
		<ion-row>
			<ion-col  size="6">
				<p style="margin:0px; font-size:14px; color:#; margin-bottom:5px;"><strong>Objet</strong></p>
				<p style="margin:0px; font-size:14px; color:#; margin-bottom:12px;">{{ title }}</p>
				
				
				<p style="margin:0px; font-size:14px; color:#; margin-bottom:5px;"><strong>Montant</strong></p>
				<p style="margin:0px; font-size:14px; color:#; margin-bottom:12px;">{{ amount }}</p>
				
				
					
				<p style="margin:0px; font-size:14px; color:#; margin-bottom:5px;"><strong>Date</strong></p>
				<p style="margin:0px; font-size:14px; color:#; margin-bottom:12px;">{{ addDate| date: 'dd/MM/yyyy' }} </p>
				
				
				<p style="margin:0px; font-size:14px; color:#; margin-bottom:5px;"><strong>Echéance</strong></p>
				<p style="margin:0px; font-size:14px; color:#; margin-bottom:12px;">{{ eventDate| date: 'dd/MM/yyyy' }} </p>
				
				
			</ion-col>
			<ion-col  size="6">
				
				<p style="margin:0px; font-size:14px; color:#; margin-bottom:5px;"><strong>Date Heure Ajout</strong></p>
				<p style="margin:0px; font-size:14px; color:#; margin-bottom:12px;">{{ createdAt| date: 'dd/MM/yyyy' }} {{ createdAt| date: 'HH:MM' }} </p>
				
				
				<p style="margin:0px; font-size:14px; color:#; margin-bottom:5px;"><strong>Réference</strong></p>
				<p style="margin:0px; font-size:14px; color:#; margin-bottom:12px;">{{ reference }}</p>
				
				
				
				<p style="margin:0px; font-size:14px; color:#; margin-bottom:5px;"><strong>Fournisseur</strong></p>
				<p style="margin:0px; font-size:14px; color:#; margin-bottom:12px;">{{ partner }}</p>
				
				<p style="margin:0px; font-size:14px; color:#; margin-bottom:5px;"><strong>Projet</strong></p>
				<p style="margin:0px; font-size:14px; color:#; margin-bottom:12px;">{{ projet }}</p>
				
				
				
				
				
			</ion-col>
	    </ion-row>
		<p style="margin:0px; font-size:14px; color:#; margin-bottom:5px;"><strong>Détail</strong></p>
		<p style="margin:0px; font-size:14px; color:#; margin-bottom:12px;">{{ detail }}</p>
				
			
			
		</div>
	</ion-card>
	<h5  style="font-size:14px; margin-left:15px; color:#474847;">PRODUITS</h5>
    <ion-card >
		<div  *ngFor="let result of cartprod; let i = index" style="border-bottom:1px solid #c0c0c0;">
		  <div button  style="padding:10px;">
			<p style="margin:0px; font-size:14px; color:#; margin-bottom:2px;"><span><strong>{{ result.label }}</strong> </span></p>
			<p style="margin:0px; font-size:14px; margin-bottom:5px;"><span><strong>Quantité:</strong> {{ result.quantity }} <strong>Prix: </strong>{{ result.price }} <strong>Prix Total: </strong>{{ result.total }} <strong>Marge: </strong>{{ result.margin }}</span></p>
		  </div>
		</div>
	</ion-card>
	<h5  style="font-size:14px; margin-left:15px; margin-bottom:80px; color:#474847;">PAIEMENTS</h5>
    <ion-card >
		<div  *ngFor="let line of list; let i = index" style="padding:10px; border-bottom:1px solid #c0c0c0;">
			<p style="margin:0px; font-size:14px; color:#; margin-bottom:2px;"><span><strong>N° {{ line.id }} Montant: </strong>{{ line.amount }}F<strong>   Mode: </strong>{{ line.method }}</span></p>
				<p style="margin:0px; font-size:14px; margin-bottom:2px;"><span><strong>Réference: </strong>{{ line.reference }} <strong> Pour : </strong>{{ line.name }}</span></p>
				<p style="margin:0px;  margin-bottom:2px;font-size:14px;"><span><strong>  Date: </strong>{{ line.createdAt| date: 'dd/MM/yyyy' }}<strong>  Heure:</strong> {{ line.createdAt| date: 'HH:MM' }} </span></p>
		</div>
	</ion-card>
	<h5  style="font-size:14px; margin-left:15px; color:#474847;"><strong>TOTAL: {{amountTotal}}F</strong></h5>
</ion-content>
